﻿@import url("VA_default.min.css");
@media screen and (min-width: 769px) {
  .panel-home-hero .widget-text {
    height: 460px;
  }
  body.large .panel-home-hero .widget-text {
    height: 920px;
  }
}
/*# sourceMappingURL=VA_default_SP.css.map */