﻿@media screen and (min-width: 769px) {
  .panel-home-hero .widget-text {
    height: 340px;
  }
  body.large .panel-home-hero .widget-text {
    height: 680px;
  }
}
/*# sourceMappingURL=VA_default.css.map */