.coda-slider-wrapper {
	padding: 0px; 
}
  
.coda-slider-wrapper .coda-slider {
	width: 880px; 
}
    
.coda-slider-wrapper .coda-slider .panel {
  	width: 880px; 
}
      
.coda-slider-wrapper .coda-slider .panel .panel-wrapper {
	padding: 0px; 
}
    
.coda-slider-wrapper .coda-nav .current {
	float:left;
	display:inline-block;
  	width:17px;
	height:17px;
	background-image:url(../images/sliderDots.png);
	background-repeat:no-repeat;
	background-position:bottom;
	margin-left: 12px;
	z-index:3;
}
    
.coda-slider-wrapper .coda-nav a {
	display:inline-block;
	float:left;
	width:17px;
	height:17px;
	background-image:url(../images/sliderDots.png);
	background-repeat:no-repeat;
	background-position:top;
	margin-left: 12px;
	z-index:3;
}
    
.coda-slider-wrapper .coda-nav a:hover {
}

/*  A R R O W S  */
  
.coda-slider-wrapper .coda-nav-left-arrow {
	width: 33px;
	height: 52px;
	background: url(../images/slideShow_arrowLeft.png); no-repeat top left; 
	margin-top: 123px;
	margin-left: 2px;
	position: absolute;
	display:block;
	z-index: 1;
}

.coda-slider-wrapper .coda-nav-left-arrow a {
	width: 0;
	height: 0;
	border:none;
}

.coda-slider-wrapper .coda-nav-left-arrow:hover {
	width: 33px;
	height: 52px;
	background: url(../images/slideShow_arrowLeft.png); no-repeat top left; 
	margin-top: 123px;
	margin-left: 2px;
	position: absolute;
	display:block;
	z-index: 1;
}

.coda-slider-wrapper .coda-nav-right-arrow {
    width: 33px;
    height: 52px;
    background: url(../images/slideShow_arrowRight.png); no-repeat top left; 
    margin-top: 123px;
	margin-left: 845px;
	position: absolute;
	display:block;
	z-index: 2;
}
  
.coda-slider-wrapper .coda-nav-right-arrow a {
    width: 0;
    height: 0;
    background: none; 
    margin-top:0;
    border:none;
}

.coda-slider-wrapper .coda-nav-right-arrow:hover {
	width: 33px;
    height: 52px;
    background: url(../images/slideShow_arrowRight.png); no-repeat top left; 
    margin-top: 123px;
	margin-left: 845px;
	position: absolute;
	display:block;
	z-index: 2;
}

.coda-slider-wrapper .coda-nav-left-arrow:active, .coda-slider-wrapper .coda-nav-right-arrow:active {
	margin-top: 123px; 
}
  
.coda-slider-wrapper .loading {
	height: 100%;
	padding: 20px;
	text-align: center; 
}

.arrows .coda-slider {
  margin: 0px; 
}

.coda-slider-wrapper {
  clear: both;
  overflow: auto; 
}
  
.coda-slider-wrapper .coda-slider {
	float: left;
	overflow: hidden;
	position: relative; 
}

.coda-slider-wrapper .coda-slider .panel-container {
	position: relative; 
}

.coda-slider-wrapper .coda-slider .panel-container .panel {
	display: block;
	float: left; 
}

.coda-slider-wrapper .coda-nav {
}

.coda-slider-wrapper .coda-nav ul {
	padding:0;
	display: block;
	position:absolute;
	margin: 272px 0px 0px 0px;
	z-index:3;
}

.coda-slider-wrapper .coda-nav ul li {
	display: inline; 
}

.coda-slider-wrapper .coda-nav ul li a {
	display: block;
	float: left;
	text-decoration: none; 
}

.coda-slider-wrapper .coda-nav-left-arrow, .coda-slider-wrapper .coda-nav-right-arrow {
	cursor: pointer;
	float: left;
}

.coda-slider-wrapper .coda-nav-left-arrow a, .coda-slider-wrapper .coda-nav-right-arrow a {
	display: block; 
}

.coda-slider-wrapper .coda-nav-left, .coda-slider-wrapper .coda-nav-left-arrow {
	clear: both; 
}