/*
	Colorbox Core Style:
	The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}


#cboxOverlay{background: transparent url(/images/bg_overlay.png); overflow: visible;}
#colorbox{background-color: #ececec;outline:0;overflow: visible;}
#cboxWrapper {overflow: visible;}
	#cboxContent{margin-top:0px; overflow: visible; background:#000; }
		.cboxIframe{background:#fff;}
		#cboxError{padding:50px; border:1px solid #ccc;}
		#cboxLoadedContent{background:none; padding:0;}
		#cboxLoadingGraphic{background:url(/images/loading.gif) no-repeat center center;}
		#cboxLoadingOverlay{background:#000;}
		#cboxTitle{position:absolute; top:-22px; left:0; color:#000;display: none !important;}
		#cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}

		/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
		#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; text-indent:-9999px; width:20px; height:20px; position:absolute; top:0px; background:url(/images/sprite_controls.png) no-repeat 0 0;}

		/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
		#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

		#cboxPrevious{background-position:0px 0px; right:44px;}
		#cboxPrevious:hover{background-position:0px -25px;}
		#cboxNext{background-position:-25px 0px; right:22px;}
		#cboxNext:hover{background-position:-25px -25px;}
		#cboxClose{background:url(/images/btn_close.png) 0 0 no-repeat; background-position:0 0; right:-25px; top:-25px; width: 52px; height: 52px;}
		#cboxClose:hover{background-position:0 -52px;}
		.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
		.cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
		.cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
		.cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
		.cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}




/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
	height:0px;
}
