@charset "UTF-8";

/*  contact container  */
.contact {
	position: absolute;
	width: 305px;
	height: 539px;
	z-index: 100;
	left: 650px;
	top: 258px;
	text-align: center;
	background-image:url(../images/form_background.png);
}

.formContent {
	padding-top: 105px;
}

.formTryIt {
	color: #fff;
	text-align: left;
	font-size: 16px;
}

.formContent p {
	line-height: 1.25;
	color: #fff;
	text-align: left;
	margin-left: 32px;
	margin-top: -20px;
	margin-bottom: 35px;
	font-size: 12px;
	width: 77%;
}

.contactForm {
	position: relative;
	left: -3px;
	width: 77%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #f9a01b;
	font-size: 12px;
	border-style: none;
	margin-bottom: 14px;
	padding: 5px;
	font: 12px Arial;
}

.contactComment {
	position: relative;
	left: -3px;
	color: #f9a01b;
	width: 77%;
	height: 65px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-style: none;
	padding: 5px;
	vertical-align: text-top;
	font: 12px Arial;
	resize: none;
}

.contactSubmit {
	cursor: pointer;
	width: 191px;
	height: 44px;
	background: transparent;
	border: 0;
}

.contactSubmit:hover {
	background: transparent;	
}

.submitContainer{
	position: relative;
	top: 35px;
	left: 56px;
	width: 191px;
	height: 44px;
	overflow: hidden;
	background: transparent;
}

.submitButton {
	top: -44px;
	cursor: pointer;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 191px;
	height: 88px;
	background-image:url(../images/form_submit.png);
}

.submitButton:hover {
	top: 0px;
}

button::-moz-focus-inner {
  border: 0;
}

