﻿@import (reference) "../mixins.less";
@import (reference) "../variables.less";

.home-note > p {
	max-width: 660px;
}

@media screen and (max-width: @screen-xs-max) {
	.banner, .banner-home {
		background: none;
		height: auto;
	}
}
