﻿.banner {
  background-image: url("/images/bg-container-mainIA.jpg");
}
.banner-home {
  background-image: url("/images/home_BannerIA.jpg");
}
@media screen and (min-width: 769px) {
  .panel-home-hero .widget-text {
    height: 240px;
  }
  body.large .panel-home-hero .widget-text {
    height: 400px;
  }
}
/*# sourceMappingURL=IA_default.css.map */