/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  text-align: left; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Akkurat-Pro";
  src: url("fonts/lineto-akkurat-pro-italic.eot");
  src: url("fonts/lineto-akkurat-pro-italic.eot?#iefix") format("embedded-opentype"), url("fonts/lineto-akkurat-pro-italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "Akkurat-Pro";
  src: url("fonts/lineto-akkurat-pro-regular.eot");
  src: url("fonts/lineto-akkurat-pro-regular.eot?#iefix") format("embedded-opentype"), url("fonts/lineto-akkurat-pro-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Akkurat-Mono";
  src: url("fonts/Akkurat-Mono.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Romain-Headline";
  src: url("fonts/romain_bp_headline_regular-webfont.eot");
  src: url("fonts/romain_bp_headline_regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/romain_bp_headline_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Romain-Headline";
  src: url("fonts/romain_bp_headline_regular_italic-webfont.eot");
  src: url("fonts/romain_bp_headline_regular_italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/romain_bp_headline_regular_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "Romain-Text";
  src: url("fonts/romain_bp_text_regular-webfont.eot");
  src: url("fonts/romain_bp_text_regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/romain_bp_text_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Romain-Text";
  src: url("fonts/romain_bp_text_regular_italic-webfont.eot");
  src: url("fonts/romain_bp_text_regular_italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/romain_bp_text_regular_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic; }
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Romain-Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3b77b1;
  background-color: #ffffff;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  -webkit-font-smoothing: antialiased; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: inherit; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
li {
  font-size: 1.25rem;
  line-height: 2rem;
  list-style-type: none;
  position: relative; }
  li > ul,
  li > ol {
    margin-bottom: 0; }
  li:before {
    content: '\b7\a0';
    position: absolute;
    right: calc(100% + 10px);
    color: #3e79af; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }

p a:hover {
  color: #3b77b1;
  border-bottom: 1px solid #3b77b1; }

/**
 * Blockquotes
 */
blockquote {
  font-size: 3rem;
  text-align: center;
  quotes: "\201C" "\201D" "\2018" "\2019"; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #f7f8f9;
  border-radius: 3px;
  background-color: #eeeeff; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Clearfix
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
/**
 * Icons
 */
.icon {
  width: 22px; }
  .icon > img {
    width: 100%; }

em {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #3b77b1;
  padding: 0;
  margin: 50px auto 40px; }

hr.narrow {
  width: 200px;
  margin: 60px auto 50px !important; }

h1 {
  font-size: 2.7rem;
  line-height: 4.25rem;
  font-family: "Romain-Headline", serif; }

h2 {
  font-family: "Akkurat-Mono", monospace;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem; }

.hidden {
  display: none; }

.invisible {
  visibility: hidden;
  pointer-events: none; }

.attribution {
  text-transform: uppercase; }

.multicolumn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 900px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .multicolumn > li {
    margin-bottom: 20px; }
  .multicolumn > li:last-child {
    margin-bottom: 0; }
  .multicolumn.wide > li {
    display: block;
    width: 100%; }

.two > * {
  width: 47.85%; }

.center {
  text-align: center !important; }

.post p.left {
  text-align: left !important; }
  .post p.left.sans-serif {
    margin-bottom: 35px !important; }

.pinned {
  position: absolute;
  z-index: 10000;
  width: 100%;
  top: 0; }

.icon {
  display: inline-block;
  width: 1.5rem;
  vertical-align: middle;
  margin-right: 10px; }

.icon--large {
  width: 80px;
  margin: 60px auto 50px !important;
  display: block; }

.wide {
  max-width: 900px !important; }

.sans-serif {
  font-family: "Akkurat-Pro", sans-serif;
  font-size: 1.3rem !important;
  line-height: 2.5rem !important; }

p.sans-serif {
  text-align: center !important;
  margin-bottom: 50px !important; }

.vertical {
  border-left: 2px solid #3e79af;
  height: 112px;
  margin: 20px auto;
  width: 1px; }

@media screen and (max-width: 1330px) {
  .multicolumn {
    max-width: 650px; }

  p.sans-serif {
    margin-bottom: 10px !important; }

  .icon {
    width: 1.5rem; }

  .icon--large {
    margin: 30px auto !important;
    width: 5rem; } }
@media screen and (max-width: 1090px) {
  .wide {
    max-width: none;
    width: 85%; }

  .two > * {
    width: 85%;
    margin: 0 auto; }

  .icon {
    width: 5rem; }

  .icon--twitter, .icon--facebook {
    width: 2.5rem; } }
.page-content .footer__next-slide {
  display: none; }

/* animation sets */
/* move from / to  */
.pt-page-moveToLeft {
  -webkit-animation: moveToLeft .6s ease both;
  animation: moveToLeft .6s ease both; }

.pt-page-moveFromLeft {
  -webkit-animation: moveFromLeft .6s ease both;
  animation: moveFromLeft .6s ease both; }

.pt-page-moveToRight {
  -webkit-animation: moveToRight .6s ease both;
  animation: moveToRight .6s ease both; }

.pt-page-moveFromRight {
  -webkit-animation: moveFromRight .6s ease both;
  animation: moveFromRight .6s ease both; }

.pt-page-moveToTop {
  -webkit-animation: moveToTop .6s ease both;
  animation: moveToTop .6s ease both; }

.pt-page-moveFromTop {
  -webkit-animation: moveFromTop .6s ease both;
  animation: moveFromTop .6s ease both; }

.pt-page-moveToBottom {
  -webkit-animation: moveToBottom .6s ease both;
  animation: moveToBottom .6s ease both; }

.pt-page-moveFromBottom {
  -webkit-animation: moveFromBottom .6s ease both;
  animation: moveFromBottom .6s ease both; }

/* fade */
.pt-page-fade {
  -webkit-animation: fade .7s ease both;
  animation: fade .7s ease both; }

/* move from / to and fade */
.pt-page-moveToLeftFade {
  -webkit-animation: moveToLeftFade .7s ease both;
  animation: moveToLeftFade .7s ease both; }

.pt-page-moveFromLeftFade {
  -webkit-animation: moveFromLeftFade .7s ease both;
  animation: moveFromLeftFade .7s ease both; }

.pt-page-moveToRightFade {
  -webkit-animation: moveToRightFade .7s ease both;
  animation: moveToRightFade .7s ease both; }

.pt-page-moveFromRightFade {
  -webkit-animation: moveFromRightFade .7s ease both;
  animation: moveFromRightFade .7s ease both; }

.pt-page-moveToTopFade {
  -webkit-animation: moveToTopFade .7s ease both;
  animation: moveToTopFade .7s ease both; }

.pt-page-moveFromTopFade {
  -webkit-animation: moveFromTopFade .7s ease both;
  animation: moveFromTopFade .7s ease both; }

.pt-page-moveToBottomFade {
  -webkit-animation: moveToBottomFade .7s ease both;
  animation: moveToBottomFade .7s ease both; }

.pt-page-moveFromBottomFade {
  -webkit-animation: moveFromBottomFade .7s ease both;
  animation: moveFromBottomFade .7s ease both; }

/* move to with different easing */
.pt-page-moveToLeftEasing {
  -webkit-animation: moveToLeft .7s ease-in-out both;
  animation: moveToLeft .7s ease-in-out both; }

.pt-page-moveToRightEasing {
  -webkit-animation: moveToRight .7s ease-in-out both;
  animation: moveToRight .7s ease-in-out both; }

.pt-page-moveToTopEasing {
  -webkit-animation: moveToTop .7s ease-in-out both;
  animation: moveToTop .7s ease-in-out both; }

.pt-page-moveToBottomEasing {
  -webkit-animation: moveToBottom .7s ease-in-out both;
  animation: moveToBottom .7s ease-in-out both; }

/********************************* keyframes **************************************/
/* move from / to  */
@-webkit-keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-100%); } }
@keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }
@-webkit-keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%); } }
@keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }
@-webkit-keyframes moveToRight {
  to {
    -webkit-transform: translateX(100%); } }
@keyframes moveToRight {
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }
@-webkit-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%); } }
@keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }
@-webkit-keyframes moveToTop {
  to {
    -webkit-transform: translateY(-100%); } }
@keyframes moveToTop {
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }
@-webkit-keyframes moveFromTop {
  from {
    -webkit-transform: translateY(-100%); } }
@keyframes moveFromTop {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }
@-webkit-keyframes moveToBottom {
  to {
    -webkit-transform: translateY(100%); } }
@keyframes moveToBottom {
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }
@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%); } }
@keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }
/* fade */
@-webkit-keyframes fade {
  to {
    opacity: 0.3; } }
@keyframes fade {
  to {
    opacity: 0.3; } }
/* move from / to and fade */
@-webkit-keyframes moveToLeftFade {
  to {
    opacity: 0.3;
    -webkit-transform: translateX(-100%); } }
@keyframes moveToLeftFade {
  to {
    opacity: 0.3;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }
@-webkit-keyframes moveFromLeftFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(-100%); } }
@keyframes moveFromLeftFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }
@-webkit-keyframes moveToRightFade {
  to {
    opacity: 0.3;
    -webkit-transform: translateX(100%); } }
@keyframes moveToRightFade {
  to {
    opacity: 0.3;
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }
@-webkit-keyframes moveFromRightFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(100%); } }
@keyframes moveFromRightFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }
@-webkit-keyframes moveToTopFade {
  to {
    opacity: 0.3;
    -webkit-transform: translateY(-100%); } }
@keyframes moveToTopFade {
  to {
    opacity: 0.3;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }
@-webkit-keyframes moveFromTopFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateY(-100%); } }
@keyframes moveFromTopFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }
@-webkit-keyframes moveToBottomFade {
  to {
    opacity: 0.3;
    -webkit-transform: translateY(100%); } }
@keyframes moveToBottomFade {
  to {
    opacity: 0.3;
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }
@-webkit-keyframes moveFromBottomFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateY(100%); } }
@keyframes moveFromBottomFade {
  from {
    opacity: 0.3;
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }
/* scale and fade */
.pt-page-scaleDown {
  -webkit-animation: scaleDown .7s ease both;
  animation: scaleDown .7s ease both; }

.pt-page-scaleUp {
  -webkit-animation: scaleUp .7s ease both;
  animation: scaleUp .7s ease both; }

.pt-page-scaleUpDown {
  -webkit-animation: scaleUpDown .5s ease both;
  animation: scaleUpDown .5s ease both; }

.pt-page-scaleDownUp {
  -webkit-animation: scaleDownUp .5s ease both;
  animation: scaleDownUp .5s ease both; }

.pt-page-scaleDownCenter {
  -webkit-animation: scaleDownCenter .4s ease-in both;
  animation: scaleDownCenter .4s ease-in both; }

.pt-page-scaleUpCenter {
  -webkit-animation: scaleUpCenter .4s ease-out both;
  animation: scaleUpCenter .4s ease-out both; }

/********************************* keyframes **************************************/
/* scale and fade */
@-webkit-keyframes scaleDown {
  to {
    opacity: 0;
    -webkit-transform: scale(0.8); } }
@keyframes scaleDown {
  to {
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8); } }
@-webkit-keyframes scaleUp {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8); } }
@keyframes scaleUp {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8); } }
@-webkit-keyframes scaleUpDown {
  from {
    opacity: 0;
    -webkit-transform: scale(1.2); } }
@keyframes scaleUpDown {
  from {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }
@-webkit-keyframes scaleDownUp {
  to {
    opacity: 0;
    -webkit-transform: scale(1.2); } }
@keyframes scaleDownUp {
  to {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }
@-webkit-keyframes scaleDownCenter {
  to {
    opacity: 0;
    -webkit-transform: scale(0.7); } }
@keyframes scaleDownCenter {
  to {
    opacity: 0;
    -webkit-transform: scale(0.7);
    transform: scale(0.7); } }
@-webkit-keyframes scaleUpCenter {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7); } }
@keyframes scaleUpCenter {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7);
    transform: scale(0.7); } }
/* rotate sides first and scale */
.pt-page-rotateRightSideFirst {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotateRightSideFirst .8s both ease-in;
  animation: rotateRightSideFirst .8s both ease-in; }

.pt-page-rotateLeftSideFirst {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotateLeftSideFirst .8s both ease-in;
  animation: rotateLeftSideFirst .8s both ease-in; }

.pt-page-rotateTopSideFirst {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: rotateTopSideFirst .8s both ease-in;
  animation: rotateTopSideFirst .8s both ease-in; }

.pt-page-rotateBottomSideFirst {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: rotateBottomSideFirst .8s both ease-in;
  animation: rotateBottomSideFirst .8s both ease-in; }

/* flip */
.pt-page-flipOutRight {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: flipOutRight .5s both ease-in;
  animation: flipOutRight .5s both ease-in; }

.pt-page-flipInLeft {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: flipInLeft .5s both ease-out;
  animation: flipInLeft .5s both ease-out; }

.pt-page-flipOutLeft {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: flipOutLeft .5s both ease-in;
  animation: flipOutLeft .5s both ease-in; }

.pt-page-flipInRight {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: flipInRight .5s both ease-out;
  animation: flipInRight .5s both ease-out; }

.pt-page-flipOutTop {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: flipOutTop .5s both ease-in;
  animation: flipOutTop .5s both ease-in; }

.pt-page-flipInBottom {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: flipInBottom .5s both ease-out;
  animation: flipInBottom .5s both ease-out; }

.pt-page-flipOutBottom {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: flipOutBottom .5s both ease-in;
  animation: flipOutBottom .5s both ease-in; }

.pt-page-flipInTop {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: flipInTop .5s both ease-out;
  animation: flipInTop .5s both ease-out; }

/* rotate fall */
.pt-page-rotateFall {
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-animation: rotateFall 1s both ease-in;
  animation: rotateFall 1s both ease-in; }

/* rotate newspaper */
.pt-page-rotateOutNewspaper {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: rotateOutNewspaper .5s both ease-in;
  animation: rotateOutNewspaper .5s both ease-in; }

.pt-page-rotateInNewspaper {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: rotateInNewspaper .5s both ease-out;
  animation: rotateInNewspaper .5s both ease-out; }

/* push */
.pt-page-rotatePushLeft {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotatePushLeft .8s both ease;
  animation: rotatePushLeft .8s both ease; }

.pt-page-rotatePushRight {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotatePushRight .8s both ease;
  animation: rotatePushRight .8s both ease; }

.pt-page-rotatePushTop {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: rotatePushTop .8s both ease;
  animation: rotatePushTop .8s both ease; }

.pt-page-rotatePushBottom {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: rotatePushBottom .8s both ease;
  animation: rotatePushBottom .8s both ease; }

/* pull */
.pt-page-rotatePullRight {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotatePullRight .5s both ease;
  animation: rotatePullRight .5s both ease; }

.pt-page-rotatePullLeft {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotatePullLeft .5s both ease;
  animation: rotatePullLeft .5s both ease; }

.pt-page-rotatePullTop {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: rotatePullTop .5s both ease;
  animation: rotatePullTop .5s both ease; }

.pt-page-rotatePullBottom {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: rotatePullBottom .5s both ease;
  animation: rotatePullBottom .5s both ease; }

/* fold */
.pt-page-rotateFoldRight {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotateFoldRight .7s both ease;
  animation: rotateFoldRight .7s both ease; }

.pt-page-rotateFoldLeft {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotateFoldLeft .7s both ease;
  animation: rotateFoldLeft .7s both ease; }

.pt-page-rotateFoldTop {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: rotateFoldTop .7s both ease;
  animation: rotateFoldTop .7s both ease; }

.pt-page-rotateFoldBottom {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: rotateFoldBottom .7s both ease;
  animation: rotateFoldBottom .7s both ease; }

/* unfold */
.pt-page-rotateUnfoldLeft {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotateUnfoldLeft .7s both ease;
  animation: rotateUnfoldLeft .7s both ease; }

.pt-page-rotateUnfoldRight {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotateUnfoldRight .7s both ease;
  animation: rotateUnfoldRight .7s both ease; }

.pt-page-rotateUnfoldTop {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: rotateUnfoldTop .7s both ease;
  animation: rotateUnfoldTop .7s both ease; }

.pt-page-rotateUnfoldBottom {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: rotateUnfoldBottom .7s both ease;
  animation: rotateUnfoldBottom .7s both ease; }

/* room walls */
.pt-page-rotateRoomLeftOut {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotateRoomLeftOut .8s both ease;
  animation: rotateRoomLeftOut .8s both ease; }

.pt-page-rotateRoomLeftIn {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotateRoomLeftIn .8s both ease;
  animation: rotateRoomLeftIn .8s both ease; }

.pt-page-rotateRoomRightOut {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotateRoomRightOut .8s both ease;
  animation: rotateRoomRightOut .8s both ease; }

.pt-page-rotateRoomRightIn {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotateRoomRightIn .8s both ease;
  animation: rotateRoomRightIn .8s both ease; }

.pt-page-rotateRoomTopOut {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: rotateRoomTopOut .8s both ease;
  animation: rotateRoomTopOut .8s both ease; }

.pt-page-rotateRoomTopIn {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: rotateRoomTopIn .8s both ease;
  animation: rotateRoomTopIn .8s both ease; }

.pt-page-rotateRoomBottomOut {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: rotateRoomBottomOut .8s both ease;
  animation: rotateRoomBottomOut .8s both ease; }

.pt-page-rotateRoomBottomIn {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: rotateRoomBottomIn .8s both ease;
  animation: rotateRoomBottomIn .8s both ease; }

/* cube */
.pt-page-rotateCubeLeftOut {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotateCubeLeftOut .6s both ease-in;
  animation: rotateCubeLeftOut .6s both ease-in; }

.pt-page-rotateCubeLeftIn {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotateCubeLeftIn .6s both ease-in;
  animation: rotateCubeLeftIn .6s both ease-in; }

.pt-page-rotateCubeRightOut {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotateCubeRightOut .6s both ease-in;
  animation: rotateCubeRightOut .6s both ease-in; }

.pt-page-rotateCubeRightIn {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotateCubeRightIn .6s both ease-in;
  animation: rotateCubeRightIn .6s both ease-in; }

.pt-page-rotateCubeTopOut {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: rotateCubeTopOut .6s both ease-in;
  animation: rotateCubeTopOut .6s both ease-in; }

.pt-page-rotateCubeTopIn {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: rotateCubeTopIn .6s both ease-in;
  animation: rotateCubeTopIn .6s both ease-in; }

.pt-page-rotateCubeBottomOut {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: rotateCubeBottomOut .6s both ease-in;
  animation: rotateCubeBottomOut .6s both ease-in; }

.pt-page-rotateCubeBottomIn {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: rotateCubeBottomIn .6s both ease-in;
  animation: rotateCubeBottomIn .6s both ease-in; }

/* carousel */
.pt-page-rotateCarouselLeftOut {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotateCarouselLeftOut .8s both ease;
  animation: rotateCarouselLeftOut .8s both ease; }

.pt-page-rotateCarouselLeftIn {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotateCarouselLeftIn .8s both ease;
  animation: rotateCarouselLeftIn .8s both ease; }

.pt-page-rotateCarouselRightOut {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotateCarouselRightOut .8s both ease;
  animation: rotateCarouselRightOut .8s both ease; }

.pt-page-rotateCarouselRightIn {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotateCarouselRightIn .8s both ease;
  animation: rotateCarouselRightIn .8s both ease; }

.pt-page-rotateCarouselTopOut {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: rotateCarouselTopOut .8s both ease;
  animation: rotateCarouselTopOut .8s both ease; }

.pt-page-rotateCarouselTopIn {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: rotateCarouselTopIn .8s both ease;
  animation: rotateCarouselTopIn .8s both ease; }

.pt-page-rotateCarouselBottomOut {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: rotateCarouselBottomOut .8s both ease;
  animation: rotateCarouselBottomOut .8s both ease; }

.pt-page-rotateCarouselBottomIn {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: rotateCarouselBottomIn .8s both ease;
  animation: rotateCarouselBottomIn .8s both ease; }

/* sides */
.pt-page-rotateSidesOut {
  -webkit-transform-origin: -50% 50%;
  transform-origin: -50% 50%;
  -webkit-animation: rotateSidesOut .5s both ease-in;
  animation: rotateSidesOut .5s both ease-in; }

.pt-page-rotateSidesIn {
  -webkit-transform-origin: 150% 50%;
  transform-origin: 150% 50%;
  -webkit-animation: rotateSidesIn .5s both ease-out;
  animation: rotateSidesIn .5s both ease-out; }

/* slide */
.pt-page-rotateSlideOut {
  -webkit-animation: rotateSlideOut 1s both ease;
  animation: rotateSlideOut 1s both ease; }

.pt-page-rotateSlideIn {
  -webkit-animation: rotateSlideIn 1s both ease;
  animation: rotateSlideIn 1s both ease; }

/********************************* keyframes **************************************/
/* rotate sides first and scale */
@-webkit-keyframes rotateRightSideFirst {
  40% {
    -webkit-transform: rotateY(15deg);
    opacity: .8;
    -webkit-animation-timing-function: ease-out; }
  100% {
    -webkit-transform: scale(0.8) translateZ(-200px);
    opacity: 0; } }
@keyframes rotateRightSideFirst {
  40% {
    -webkit-transform: rotateY(15deg);
    transform: rotateY(15deg);
    opacity: .8;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    -webkit-transform: scale(0.8) translateZ(-200px);
    transform: scale(0.8) translateZ(-200px);
    opacity: 0; } }
@-webkit-keyframes rotateLeftSideFirst {
  40% {
    -webkit-transform: rotateY(-15deg);
    opacity: .8;
    -webkit-animation-timing-function: ease-out; }
  100% {
    -webkit-transform: scale(0.8) translateZ(-200px);
    opacity: 0; } }
@keyframes rotateLeftSideFirst {
  40% {
    -webkit-transform: rotateY(-15deg);
    transform: rotateY(-15deg);
    opacity: .8;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    -webkit-transform: scale(0.8) translateZ(-200px);
    transform: scale(0.8) translateZ(-200px);
    opacity: 0; } }
@-webkit-keyframes rotateTopSideFirst {
  40% {
    -webkit-transform: rotateX(15deg);
    opacity: .8;
    -webkit-animation-timing-function: ease-out; }
  100% {
    -webkit-transform: scale(0.8) translateZ(-200px);
    opacity: 0; } }
@keyframes rotateTopSideFirst {
  40% {
    -webkit-transform: rotateX(15deg);
    transform: rotateX(15deg);
    opacity: .8;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    -webkit-transform: scale(0.8) translateZ(-200px);
    transform: scale(0.8) translateZ(-200px);
    opacity: 0; } }
@-webkit-keyframes rotateBottomSideFirst {
  40% {
    -webkit-transform: rotateX(-15deg);
    opacity: .8;
    -webkit-animation-timing-function: ease-out; }
  100% {
    -webkit-transform: scale(0.8) translateZ(-200px);
    opacity: 0; } }
@keyframes rotateBottomSideFirst {
  40% {
    -webkit-transform: rotateX(-15deg);
    transform: rotateX(-15deg);
    opacity: .8;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    -webkit-transform: scale(0.8) translateZ(-200px);
    transform: scale(0.8) translateZ(-200px);
    opacity: 0; } }
/* flip */
@-webkit-keyframes flipOutRight {
  to {
    -webkit-transform: translateZ(-1000px) rotateY(90deg);
    opacity: 0.2; } }
@keyframes flipOutRight {
  to {
    -webkit-transform: translateZ(-1000px) rotateY(90deg);
    transform: translateZ(-1000px) rotateY(90deg);
    opacity: 0.2; } }
@-webkit-keyframes flipInLeft {
  from {
    -webkit-transform: translateZ(-1000px) rotateY(-90deg);
    opacity: 0.2; } }
@keyframes flipInLeft {
  from {
    -webkit-transform: translateZ(-1000px) rotateY(-90deg);
    transform: translateZ(-1000px) rotateY(-90deg);
    opacity: 0.2; } }
@-webkit-keyframes flipOutLeft {
  to {
    -webkit-transform: translateZ(-1000px) rotateY(-90deg);
    opacity: 0.2; } }
@keyframes flipOutLeft {
  to {
    -webkit-transform: translateZ(-1000px) rotateY(-90deg);
    transform: translateZ(-1000px) rotateY(-90deg);
    opacity: 0.2; } }
@-webkit-keyframes flipInRight {
  from {
    -webkit-transform: translateZ(-1000px) rotateY(90deg);
    opacity: 0.2; } }
@keyframes flipInRight {
  from {
    -webkit-transform: translateZ(-1000px) rotateY(90deg);
    transform: translateZ(-1000px) rotateY(90deg);
    opacity: 0.2; } }
@-webkit-keyframes flipOutTop {
  to {
    -webkit-transform: translateZ(-1000px) rotateX(90deg);
    opacity: 0.2; } }
@keyframes flipOutTop {
  to {
    -webkit-transform: translateZ(-1000px) rotateX(90deg);
    transform: translateZ(-1000px) rotateX(90deg);
    opacity: 0.2; } }
@-webkit-keyframes flipInBottom {
  from {
    -webkit-transform: translateZ(-1000px) rotateX(-90deg);
    opacity: 0.2; } }
@keyframes flipInBottom {
  from {
    -webkit-transform: translateZ(-1000px) rotateX(-90deg);
    transform: translateZ(-1000px) rotateX(-90deg);
    opacity: 0.2; } }
@-webkit-keyframes flipOutBottom {
  to {
    -webkit-transform: translateZ(-1000px) rotateX(-90deg);
    opacity: 0.2; } }
@keyframes flipOutBottom {
  to {
    -webkit-transform: translateZ(-1000px) rotateX(-90deg);
    transform: translateZ(-1000px) rotateX(-90deg);
    opacity: 0.2; } }
@-webkit-keyframes flipInTop {
  from {
    -webkit-transform: translateZ(-1000px) rotateX(90deg);
    opacity: 0.2; } }
@keyframes flipInTop {
  from {
    -webkit-transform: translateZ(-1000px) rotateX(90deg);
    transform: translateZ(-1000px) rotateX(90deg);
    opacity: 0.2; } }
/* fall */
@-webkit-keyframes rotateFall {
  0% {
    -webkit-transform: rotateZ(0deg); }
  20% {
    -webkit-transform: rotateZ(10deg);
    -webkit-animation-timing-function: ease-out; }
  40% {
    -webkit-transform: rotateZ(17deg); }
  60% {
    -webkit-transform: rotateZ(16deg); }
  100% {
    -webkit-transform: translateY(100%) rotateZ(17deg); } }
@keyframes rotateFall {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }
  20% {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  40% {
    -webkit-transform: rotateZ(17deg);
    transform: rotateZ(17deg); }
  60% {
    -webkit-transform: rotateZ(16deg);
    transform: rotateZ(16deg); }
  100% {
    -webkit-transform: translateY(100%) rotateZ(17deg);
    transform: translateY(100%) rotateZ(17deg); } }
/* newspaper */
@-webkit-keyframes rotateOutNewspaper {
  to {
    -webkit-transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0; } }
@keyframes rotateOutNewspaper {
  to {
    -webkit-transform: translateZ(-3000px) rotateZ(360deg);
    transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0; } }
@-webkit-keyframes rotateInNewspaper {
  from {
    -webkit-transform: translateZ(-3000px) rotateZ(-360deg);
    opacity: 0; } }
@keyframes rotateInNewspaper {
  from {
    -webkit-transform: translateZ(-3000px) rotateZ(-360deg);
    transform: translateZ(-3000px) rotateZ(-360deg);
    opacity: 0; } }
/* push */
@-webkit-keyframes rotatePushLeft {
  to {
    opacity: 0;
    -webkit-transform: rotateY(90deg); } }
@keyframes rotatePushLeft {
  to {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); } }
@-webkit-keyframes rotatePushRight {
  to {
    opacity: 0;
    -webkit-transform: rotateY(-90deg); } }
@keyframes rotatePushRight {
  to {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg); } }
@-webkit-keyframes rotatePushTop {
  to {
    opacity: 0;
    -webkit-transform: rotateX(-90deg); } }
@keyframes rotatePushTop {
  to {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg); } }
@-webkit-keyframes rotatePushBottom {
  to {
    opacity: 0;
    -webkit-transform: rotateX(90deg); } }
@keyframes rotatePushBottom {
  to {
    opacity: 0;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg); } }
/* pull */
@-webkit-keyframes rotatePullRight {
  from {
    opacity: 0;
    -webkit-transform: rotateY(-90deg); } }
@keyframes rotatePullRight {
  from {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg); } }
@-webkit-keyframes rotatePullLeft {
  from {
    opacity: 0;
    -webkit-transform: rotateY(90deg); } }
@keyframes rotatePullLeft {
  from {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); } }
@-webkit-keyframes rotatePullTop {
  from {
    opacity: 0;
    -webkit-transform: rotateX(-90deg); } }
@keyframes rotatePullTop {
  from {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg); } }
@-webkit-keyframes rotatePullBottom {
  from {
    opacity: 0;
    -webkit-transform: rotateX(90deg); } }
@keyframes rotatePullBottom {
  from {
    opacity: 0;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg); } }
/* fold */
@-webkit-keyframes rotateFoldRight {
  to {
    opacity: 0;
    -webkit-transform: translateX(100%) rotateY(90deg); } }
@keyframes rotateFoldRight {
  to {
    opacity: 0;
    -webkit-transform: translateX(100%) rotateY(90deg);
    transform: translateX(100%) rotateY(90deg); } }
@-webkit-keyframes rotateFoldLeft {
  to {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotateY(-90deg); } }
@keyframes rotateFoldLeft {
  to {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotateY(-90deg);
    transform: translateX(-100%) rotateY(-90deg); } }
@-webkit-keyframes rotateFoldTop {
  to {
    opacity: 0;
    -webkit-transform: translateY(-100%) rotateX(90deg); } }
@keyframes rotateFoldTop {
  to {
    opacity: 0;
    -webkit-transform: translateY(-100%) rotateX(90deg);
    transform: translateY(-100%) rotateX(90deg); } }
@-webkit-keyframes rotateFoldBottom {
  to {
    opacity: 0;
    -webkit-transform: translateY(100%) rotateX(-90deg); } }
@keyframes rotateFoldBottom {
  to {
    opacity: 0;
    -webkit-transform: translateY(100%) rotateX(-90deg);
    transform: translateY(100%) rotateX(-90deg); } }
/* unfold */
@-webkit-keyframes rotateUnfoldLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotateY(-90deg); } }
@keyframes rotateUnfoldLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotateY(-90deg);
    transform: translateX(-100%) rotateY(-90deg); } }
@-webkit-keyframes rotateUnfoldRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%) rotateY(90deg); } }
@keyframes rotateUnfoldRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%) rotateY(90deg);
    transform: translateX(100%) rotateY(90deg); } }
@-webkit-keyframes rotateUnfoldTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%) rotateX(90deg); } }
@keyframes rotateUnfoldTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%) rotateX(90deg);
    transform: translateY(-100%) rotateX(90deg); } }
@-webkit-keyframes rotateUnfoldBottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%) rotateX(-90deg); } }
@keyframes rotateUnfoldBottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%) rotateX(-90deg);
    transform: translateY(100%) rotateX(-90deg); } }
/* room walls */
@-webkit-keyframes rotateRoomLeftOut {
  to {
    opacity: .3;
    -webkit-transform: translateX(-100%) rotateY(90deg); } }
@keyframes rotateRoomLeftOut {
  to {
    opacity: .3;
    -webkit-transform: translateX(-100%) rotateY(90deg);
    transform: translateX(-100%) rotateY(90deg); } }
@-webkit-keyframes rotateRoomLeftIn {
  from {
    opacity: .3;
    -webkit-transform: translateX(100%) rotateY(-90deg); } }
@keyframes rotateRoomLeftIn {
  from {
    opacity: .3;
    -webkit-transform: translateX(100%) rotateY(-90deg);
    transform: translateX(100%) rotateY(-90deg); } }
@-webkit-keyframes rotateRoomRightOut {
  to {
    opacity: .3;
    -webkit-transform: translateX(100%) rotateY(-90deg); } }
@keyframes rotateRoomRightOut {
  to {
    opacity: .3;
    -webkit-transform: translateX(100%) rotateY(-90deg);
    transform: translateX(100%) rotateY(-90deg); } }
@-webkit-keyframes rotateRoomRightIn {
  from {
    opacity: .3;
    -webkit-transform: translateX(-100%) rotateY(90deg); } }
@keyframes rotateRoomRightIn {
  from {
    opacity: .3;
    -webkit-transform: translateX(-100%) rotateY(90deg);
    transform: translateX(-100%) rotateY(90deg); } }
@-webkit-keyframes rotateRoomTopOut {
  to {
    opacity: .3;
    -webkit-transform: translateY(-100%) rotateX(-90deg); } }
@keyframes rotateRoomTopOut {
  to {
    opacity: .3;
    -webkit-transform: translateY(-100%) rotateX(-90deg);
    transform: translateY(-100%) rotateX(-90deg); } }
@-webkit-keyframes rotateRoomTopIn {
  from {
    opacity: .3;
    -webkit-transform: translateY(100%) rotateX(90deg); } }
@keyframes rotateRoomTopIn {
  from {
    opacity: .3;
    -webkit-transform: translateY(100%) rotateX(90deg);
    transform: translateY(100%) rotateX(90deg); } }
@-webkit-keyframes rotateRoomBottomOut {
  to {
    opacity: .3;
    -webkit-transform: translateY(100%) rotateX(90deg); } }
@keyframes rotateRoomBottomOut {
  to {
    opacity: .3;
    -webkit-transform: translateY(100%) rotateX(90deg);
    transform: translateY(100%) rotateX(90deg); } }
@-webkit-keyframes rotateRoomBottomIn {
  from {
    opacity: .3;
    -webkit-transform: translateY(-100%) rotateX(-90deg); } }
@keyframes rotateRoomBottomIn {
  from {
    opacity: .3;
    -webkit-transform: translateY(-100%) rotateX(-90deg);
    transform: translateY(-100%) rotateX(-90deg); } }
/* cube */
@-webkit-keyframes rotateCubeLeftOut {
  50% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translateX(-50%) translateZ(-200px) rotateY(-45deg); }
  100% {
    opacity: .3;
    -webkit-transform: translateX(-100%) rotateY(-90deg); } }
@keyframes rotateCubeLeftOut {
  50% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: translateX(-50%) translateZ(-200px) rotateY(-45deg);
    transform: translateX(-50%) translateZ(-200px) rotateY(-45deg); }
  100% {
    opacity: .3;
    -webkit-transform: translateX(-100%) rotateY(-90deg);
    transform: translateX(-100%) rotateY(-90deg); } }
@-webkit-keyframes rotateCubeLeftIn {
  0% {
    opacity: .3;
    -webkit-transform: translateX(100%) rotateY(90deg); }
  50% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translateX(50%) translateZ(-200px) rotateY(45deg); } }
@keyframes rotateCubeLeftIn {
  0% {
    opacity: .3;
    -webkit-transform: translateX(100%) rotateY(90deg);
    transform: translateX(100%) rotateY(90deg); }
  50% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: translateX(50%) translateZ(-200px) rotateY(45deg);
    transform: translateX(50%) translateZ(-200px) rotateY(45deg); } }
@-webkit-keyframes rotateCubeRightOut {
  50% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translateX(50%) translateZ(-200px) rotateY(45deg); }
  100% {
    opacity: .3;
    -webkit-transform: translateX(100%) rotateY(90deg); } }
@keyframes rotateCubeRightOut {
  50% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: translateX(50%) translateZ(-200px) rotateY(45deg);
    transform: translateX(50%) translateZ(-200px) rotateY(45deg); }
  100% {
    opacity: .3;
    -webkit-transform: translateX(100%) rotateY(90deg);
    transform: translateX(100%) rotateY(90deg); } }
@-webkit-keyframes rotateCubeRightIn {
  0% {
    opacity: .3;
    -webkit-transform: translateX(-100%) rotateY(-90deg); }
  50% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translateX(-50%) translateZ(-200px) rotateY(-45deg); } }
@keyframes rotateCubeRightIn {
  0% {
    opacity: .3;
    -webkit-transform: translateX(-100%) rotateY(-90deg);
    transform: translateX(-100%) rotateY(-90deg); }
  50% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: translateX(-50%) translateZ(-200px) rotateY(-45deg);
    transform: translateX(-50%) translateZ(-200px) rotateY(-45deg); } }
@-webkit-keyframes rotateCubeTopOut {
  50% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translateY(-50%) translateZ(-200px) rotateX(45deg); }
  100% {
    opacity: .3;
    -webkit-transform: translateY(-100%) rotateX(90deg); } }
@keyframes rotateCubeTopOut {
  50% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: translateY(-50%) translateZ(-200px) rotateX(45deg);
    transform: translateY(-50%) translateZ(-200px) rotateX(45deg); }
  100% {
    opacity: .3;
    -webkit-transform: translateY(-100%) rotateX(90deg);
    transform: translateY(-100%) rotateX(90deg); } }
@-webkit-keyframes rotateCubeTopIn {
  0% {
    opacity: .3;
    -webkit-transform: translateY(100%) rotateX(-90deg); }
  50% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translateY(50%) translateZ(-200px) rotateX(-45deg); } }
@keyframes rotateCubeTopIn {
  0% {
    opacity: .3;
    -webkit-transform: translateY(100%) rotateX(-90deg);
    transform: translateY(100%) rotateX(-90deg); }
  50% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: translateY(50%) translateZ(-200px) rotateX(-45deg);
    transform: translateY(50%) translateZ(-200px) rotateX(-45deg); } }
@-webkit-keyframes rotateCubeBottomOut {
  50% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translateY(50%) translateZ(-200px) rotateX(-45deg); }
  100% {
    opacity: .3;
    -webkit-transform: translateY(100%) rotateX(-90deg); } }
@keyframes rotateCubeBottomOut {
  50% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: translateY(50%) translateZ(-200px) rotateX(-45deg);
    transform: translateY(50%) translateZ(-200px) rotateX(-45deg); }
  100% {
    opacity: .3;
    -webkit-transform: translateY(100%) rotateX(-90deg);
    transform: translateY(100%) rotateX(-90deg); } }
@-webkit-keyframes rotateCubeBottomIn {
  0% {
    opacity: .3;
    -webkit-transform: translateY(-100%) rotateX(90deg); }
  50% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translateY(-50%) translateZ(-200px) rotateX(45deg); } }
@keyframes rotateCubeBottomIn {
  0% {
    opacity: .3;
    -webkit-transform: translateY(-100%) rotateX(90deg);
    transform: translateY(-100%) rotateX(90deg); }
  50% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: translateY(-50%) translateZ(-200px) rotateX(45deg);
    transform: translateY(-50%) translateZ(-200px) rotateX(45deg); } }
/* carousel */
@-webkit-keyframes rotateCarouselLeftOut {
  to {
    opacity: .3;
    -webkit-transform: translateX(-150%) scale(0.4) rotateY(-65deg); } }
@keyframes rotateCarouselLeftOut {
  to {
    opacity: .3;
    -webkit-transform: translateX(-150%) scale(0.4) rotateY(-65deg);
    transform: translateX(-150%) scale(0.4) rotateY(-65deg); } }
@-webkit-keyframes rotateCarouselLeftIn {
  from {
    opacity: .3;
    -webkit-transform: translateX(200%) scale(0.4) rotateY(65deg); } }
@keyframes rotateCarouselLeftIn {
  from {
    opacity: .3;
    -webkit-transform: translateX(200%) scale(0.4) rotateY(65deg);
    transform: translateX(200%) scale(0.4) rotateY(65deg); } }
@-webkit-keyframes rotateCarouselRightOut {
  to {
    opacity: .3;
    -webkit-transform: translateX(200%) scale(0.4) rotateY(65deg); } }
@keyframes rotateCarouselRightOut {
  to {
    opacity: .3;
    -webkit-transform: translateX(200%) scale(0.4) rotateY(65deg);
    transform: translateX(200%) scale(0.4) rotateY(65deg); } }
@-webkit-keyframes rotateCarouselRightIn {
  from {
    opacity: .3;
    -webkit-transform: translateX(-200%) scale(0.4) rotateY(-65deg); } }
@keyframes rotateCarouselRightIn {
  from {
    opacity: .3;
    -webkit-transform: translateX(-200%) scale(0.4) rotateY(-65deg);
    transform: translateX(-200%) scale(0.4) rotateY(-65deg); } }
@-webkit-keyframes rotateCarouselTopOut {
  to {
    opacity: .3;
    -webkit-transform: translateY(-200%) scale(0.4) rotateX(65deg); } }
@keyframes rotateCarouselTopOut {
  to {
    opacity: .3;
    -webkit-transform: translateY(-200%) scale(0.4) rotateX(65deg);
    transform: translateY(-200%) scale(0.4) rotateX(65deg); } }
@-webkit-keyframes rotateCarouselTopIn {
  from {
    opacity: .3;
    -webkit-transform: translateY(200%) scale(0.4) rotateX(-65deg); } }
@keyframes rotateCarouselTopIn {
  from {
    opacity: .3;
    -webkit-transform: translateY(200%) scale(0.4) rotateX(-65deg);
    transform: translateY(200%) scale(0.4) rotateX(-65deg); } }
@-webkit-keyframes rotateCarouselBottomOut {
  to {
    opacity: .3;
    -webkit-transform: translateY(200%) scale(0.4) rotateX(-65deg); } }
@keyframes rotateCarouselBottomOut {
  to {
    opacity: .3;
    -webkit-transform: translateY(200%) scale(0.4) rotateX(-65deg);
    transform: translateY(200%) scale(0.4) rotateX(-65deg); } }
@-webkit-keyframes rotateCarouselBottomIn {
  from {
    opacity: .3;
    -webkit-transform: translateY(-200%) scale(0.4) rotateX(65deg); } }
@keyframes rotateCarouselBottomIn {
  from {
    opacity: .3;
    -webkit-transform: translateY(-200%) scale(0.4) rotateX(65deg);
    transform: translateY(-200%) scale(0.4) rotateX(65deg); } }
/* sides */
@-webkit-keyframes rotateSidesOut {
  to {
    opacity: 0;
    -webkit-transform: translateZ(-500px) rotateY(90deg); } }
@keyframes rotateSidesOut {
  to {
    opacity: 0;
    -webkit-transform: translateZ(-500px) rotateY(90deg);
    transform: translateZ(-500px) rotateY(90deg); } }
@-webkit-keyframes rotateSidesIn {
  from {
    opacity: 0;
    -webkit-transform: translateZ(-500px) rotateY(-90deg); } }
@keyframes rotateSidesIn {
  from {
    opacity: 0;
    -webkit-transform: translateZ(-500px) rotateY(-90deg);
    transform: translateZ(-500px) rotateY(-90deg); } }
/* slide */
@-webkit-keyframes rotateSlideOut {
  25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px); }
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%); } }
@keyframes rotateSlideOut {
  25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px);
    transform: translateZ(-500px); }
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
    transform: translateZ(-500px) translateX(-200%); }
  100% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
    transform: translateZ(-500px) translateX(-200%); } }
@-webkit-keyframes rotateSlideIn {
  0%, 25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(200%); }
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px); }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateX(0); } }
@keyframes rotateSlideIn {
  0%, 25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(200%);
    transform: translateZ(-500px) translateX(200%); }
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px);
    transform: translateZ(-500px); }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0); } }
/* animation delay classes */
.pt-page-delay100 {
  -webkit-animation-delay: .1s;
  animation-delay: .1s; }

.pt-page-delay180 {
  -webkit-animation-delay: .180s;
  animation-delay: .180s; }

.pt-page-delay200 {
  -webkit-animation-delay: .2s;
  animation-delay: .2s; }

.pt-page-delay300 {
  -webkit-animation-delay: .3s;
  animation-delay: .3s; }

.pt-page-delay400 {
  -webkit-animation-delay: .4s;
  animation-delay: .4s; }

.pt-page-delay500 {
  -webkit-animation-delay: .5s;
  animation-delay: .5s; }

.pt-page-delay700 {
  -webkit-animation-delay: .7s;
  animation-delay: .7s; }

.pt-page-delay1000 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

html, body {
  height: 100%; }

.pt-perspective {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  perspective: 1200px; }

.pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.tm-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.pt-page-current,
.no-js .pt-page {
  visibility: visible;
  z-index: 1; }

.no-js body {
  overflow: auto; }

.pt-page-ontop {
  z-index: 999; }

/* Triggers (menu and button) */
.pt-triggers {
  position: absolute;
  width: 300px;
  z-index: 999999;
  top: 0;
  right: 13px; }

.no-js .pt-triggers {
  display: none; }

.pt-triggers .dl-menuwrapper button,
.pt-touch-button {
  border: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0 20px;
  padding: 0px 20px;
  line-height: 50px;
  height: 50px;
  letter-spacing: 1px;
  width: 100%;
  cursor: pointer;
  display: block;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.pt-touch-button {
  background: #fff;
  color: #aaa; }

.pt-triggers .dl-menuwrapper button {
  margin-bottom: 0; }

.pt-touch-button:active {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }

.touch .pt-triggers .dl-menuwrapper {
  display: none; }

.pt-message {
  display: none;
  position: absolute;
  z-index: 99999;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #da475c;
  color: #fff;
  text-align: center; }

.pt-message p {
  margin: 0;
  line-height: 60px;
  font-size: 26px; }

.no-cssanimations .pt-message {
  display: block; }

@media screen and (max-width: 47.4375em) {
  .pt-page h1 {
    font-size: 3em; }

  .pt-triggers .dl-menuwrapper {
    display: none; } }
@media screen and (max-height: 45.9em) {
  .pt-triggers .dl-menuwrapper li a {
    padding-top: 2px;
    padding-bottom: 2px; }

  .pt-triggers .dl-menuwrapper li.dl-back:after, .dl-menuwrapper li > a:not(:only-child):after {
    line-height: 24px; } }
@media screen and (max-height: 38em) {
  .pt-triggers .dl-menuwrapper {
    display: none; } }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/menuicons/icomoon.eot");
  src: url("../fonts/menuicons/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/menuicons/icomoon.woff") format("woff"), url("../fonts/menuicons/icomoon.ttf") format("truetype"), url("../fonts/menuicons/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
.dl-menuwrapper {
  width: 300px;
  position: relative;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 200%;
  perspective-origin: 50% 200%; }

.dl-menuwrapper:first-child {
  margin-right: 100px; }

.dl-menuwrapper button {
  display: block;
  width: 100%;
  margin: 0;
  border: none;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  outline: none; }

.dl-menuwrapper ul {
  padding: 0;
  list-style: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.dl-menuwrapper li {
  position: relative; }

.dl-menuwrapper li a {
  display: block;
  position: relative;
  padding: 7px 10px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 1px; }

.dl-menuwrapper button,
.dl-menuwrapper li a {
  background: #fff;
  color: #aaa; }

.no-touch .dl-menuwrapper li a:hover {
  background: #f8f8f8; }

.dl-menuwrapper li.dl-back > a {
  padding-left: 30px;
  background: #f2f2f2; }

.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after,
.dl-menuwrapper button:after {
  position: absolute;
  top: 0;
  line-height: 33px;
  color: #ddd;
  font-family: 'icomoon';
  speak: none;
  -webkit-font-smoothing: antialiased;
  content: "\e000"; }

.dl-menuwrapper button:after {
  line-height: 50px;
  right: 15px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.dl-menuwrapper li.dl-back:after {
  left: 10px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.dl-menuwrapper li > a:after {
  right: 10px;
  color: rgba(0, 0, 0, 0.15); }

.dl-menuwrapper .dl-menu {
  margin: 5px 0 0 0;
  position: absolute;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.dl-menuwrapper .dl-menu.dl-menu-toggle {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.dl-menuwrapper .dl-menu.dl-menuopen {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  transform: translateY(0px); }

/* Hide the inner submenus */
.dl-menuwrapper li .dl-submenu {
  display: none; }

/* 
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link. 
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
  display: none; }

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
  display: block; }

/* Dynamically added submenu outside of the menu context */
.dl-menuwrapper > .dl-submenu {
  position: absolute;
  width: 100%;
  top: 55px;
  /* This needs to be adjusted to the button */
  left: 0;
  margin: 0; }

/* Animation classes for moving out and in */
.dl-menu.dl-animate-out-1 {
  -webkit-animation: MenuAnimOut1 0.4s linear forwards;
  animation: MenuAnimOut1 0.4s linear forwards; }

.dl-menu.dl-animate-out-2 {
  -webkit-animation: MenuAnimOut2 0.3s ease-in-out forwards;
  animation: MenuAnimOut2 0.3s ease-in-out forwards; }

.dl-menu.dl-animate-out-3 {
  -webkit-animation: MenuAnimOut3 0.4s ease forwards;
  animation: MenuAnimOut3 0.4s ease forwards; }

.dl-menu.dl-animate-out-4 {
  -webkit-animation: MenuAnimOut4 0.4s ease forwards;
  animation: MenuAnimOut4 0.4s ease forwards; }

.dl-menu.dl-animate-out-5 {
  -webkit-animation: MenuAnimOut5 0.4s ease forwards;
  animation: MenuAnimOut5 0.4s ease forwards; }

@-webkit-keyframes MenuAnimOut1 {
  50% {
    -webkit-transform: translateZ(-250px) rotateY(30deg); }
  75% {
    -webkit-transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5; }
  100% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0; } }
@-webkit-keyframes MenuAnimOut2 {
  100% {
    -webkit-transform: translateX(-100%);
    opacity: 0; } }
@-webkit-keyframes MenuAnimOut3 {
  100% {
    -webkit-transform: translateZ(300px);
    opacity: 0; } }
@-webkit-keyframes MenuAnimOut4 {
  100% {
    -webkit-transform: translateZ(-300px);
    opacity: 0; } }
@-webkit-keyframes MenuAnimOut5 {
  100% {
    -webkit-transform: translateY(40%);
    opacity: 0; } }
@keyframes MenuAnimOut1 {
  50% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
            transform: translateZ(-250px) rotateY(30deg); }
  75% {
    -webkit-transform: translateZ(-372.5px) rotateY(15deg);
            transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5; }
  100% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
            transform: translateZ(-500px) rotateY(0deg);
    opacity: 0; } }
@keyframes MenuAnimOut2 {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0; } }
@keyframes MenuAnimOut3 {
  100% {
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    opacity: 0; } }
@keyframes MenuAnimOut4 {
  100% {
    -webkit-transform: translateZ(-300px);
            transform: translateZ(-300px);
    opacity: 0; } }
@keyframes MenuAnimOut5 {
  100% {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
    opacity: 0; } }
.dl-menu.dl-animate-in-1 {
  -webkit-animation: MenuAnimIn1 0.3s linear forwards;
  animation: MenuAnimIn1 0.3s linear forwards; }

.dl-menu.dl-animate-in-2 {
  -webkit-animation: MenuAnimIn2 0.3s ease-in-out forwards;
  animation: MenuAnimIn2 0.3s ease-in-out forwards; }

.dl-menu.dl-animate-in-3 {
  -webkit-animation: MenuAnimIn3 0.4s ease forwards;
  animation: MenuAnimIn3 0.4s ease forwards; }

.dl-menu.dl-animate-in-4 {
  -webkit-animation: MenuAnimIn4 0.4s ease forwards;
  animation: MenuAnimIn4 0.4s ease forwards; }

.dl-menu.dl-animate-in-5 {
  -webkit-animation: MenuAnimIn5 0.4s ease forwards;
  animation: MenuAnimIn5 0.4s ease forwards; }

@-webkit-keyframes MenuAnimIn1 {
  0% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0; }
  20% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5; }
  100% {
    -webkit-transform: translateZ(0px) rotateY(0deg);
    opacity: 1; } }
@-webkit-keyframes MenuAnimIn2 {
  0% {
    -webkit-transform: translateX(-100%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1; } }
@-webkit-keyframes MenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(300px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1; } }
@-webkit-keyframes MenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(-300px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1; } }
@-webkit-keyframes MenuAnimIn5 {
  0% {
    -webkit-transform: translateY(40%);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1; } }
@keyframes MenuAnimIn1 {
  0% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
            transform: translateZ(-500px) rotateY(0deg);
    opacity: 0; }
  20% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
            transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5; }
  100% {
    -webkit-transform: translateZ(0px) rotateY(0deg);
            transform: translateZ(0px) rotateY(0deg);
    opacity: 1; } }
@keyframes MenuAnimIn2 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1; } }
@keyframes MenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0px);
            transform: translateZ(0px);
    opacity: 1; } }
@keyframes MenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(-300px);
            transform: translateZ(-300px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0px);
            transform: translateZ(0px);
    opacity: 1; } }
@keyframes MenuAnimIn5 {
  0% {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }
.dl-menuwrapper > .dl-submenu.dl-animate-in-1 {
  -webkit-animation: SubMenuAnimIn1 0.4s ease forwards;
  animation: SubMenuAnimIn1 0.4s ease forwards; }

.dl-menuwrapper > .dl-submenu.dl-animate-in-2 {
  -webkit-animation: SubMenuAnimIn2 0.3s ease-in-out forwards;
  animation: SubMenuAnimIn2 0.3s ease-in-out forwards; }

.dl-menuwrapper > .dl-submenu.dl-animate-in-3 {
  -webkit-animation: SubMenuAnimIn3 0.4s ease forwards;
  animation: SubMenuAnimIn3 0.4s ease forwards; }

.dl-menuwrapper > .dl-submenu.dl-animate-in-4 {
  -webkit-animation: SubMenuAnimIn4 0.4s ease forwards;
  animation: SubMenuAnimIn4 0.4s ease forwards; }

.dl-menuwrapper > .dl-submenu.dl-animate-in-5 {
  -webkit-animation: SubMenuAnimIn5 0.4s ease forwards;
  animation: SubMenuAnimIn5 0.4s ease forwards; }

@-webkit-keyframes SubMenuAnimIn1 {
  0% {
    -webkit-transform: translateX(50%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1; } }
@-webkit-keyframes SubMenuAnimIn2 {
  0% {
    -webkit-transform: translateX(100%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1; } }
@-webkit-keyframes SubMenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(-300px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1; } }
@-webkit-keyframes SubMenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(300px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1; } }
@-webkit-keyframes SubMenuAnimIn5 {
  0% {
    -webkit-transform: translateZ(-200px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    opacity: 1; } }
@keyframes SubMenuAnimIn1 {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1; } }
@keyframes SubMenuAnimIn2 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1; } }
@keyframes SubMenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(-300px);
            transform: translateZ(-300px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0px);
            transform: translateZ(0px);
    opacity: 1; } }
@keyframes SubMenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0px);
            transform: translateZ(0px);
    opacity: 1; } }
@keyframes SubMenuAnimIn5 {
  0% {
    -webkit-transform: translateZ(-200px);
            transform: translateZ(-200px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1; } }
.dl-menuwrapper > .dl-submenu.dl-animate-out-1 {
  -webkit-animation: SubMenuAnimOut1 0.4s ease forwards;
  animation: SubMenuAnimOut1 0.4s ease forwards; }

.dl-menuwrapper > .dl-submenu.dl-animate-out-2 {
  -webkit-animation: SubMenuAnimOut2 0.3s ease-in-out forwards;
  animation: SubMenuAnimOut2 0.3s ease-in-out forwards; }

.dl-menuwrapper > .dl-submenu.dl-animate-out-3 {
  -webkit-animation: SubMenuAnimOut3 0.4s ease forwards;
  animation: SubMenuAnimOut3 0.4s ease forwards; }

.dl-menuwrapper > .dl-submenu.dl-animate-out-4 {
  -webkit-animation: SubMenuAnimOut4 0.4s ease forwards;
  animation: SubMenuAnimOut4 0.4s ease forwards; }

.dl-menuwrapper > .dl-submenu.dl-animate-out-5 {
  -webkit-animation: SubMenuAnimOut5 0.4s ease forwards;
  animation: SubMenuAnimOut5 0.4s ease forwards; }

@-webkit-keyframes SubMenuAnimOut1 {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(50%);
    opacity: 0; } }
@-webkit-keyframes SubMenuAnimOut2 {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(100%);
    opacity: 0; } }
@-webkit-keyframes SubMenuAnimOut3 {
  0% {
    -webkit-transform: translateZ(0px);
    opacity: 1; }
  100% {
    -webkit-transform: translateZ(-300px);
    opacity: 0; } }
@-webkit-keyframes SubMenuAnimOut4 {
  0% {
    -webkit-transform: translateZ(0px);
    opacity: 1; }
  100% {
    -webkit-transform: translateZ(300px);
    opacity: 0; } }
@-webkit-keyframes SubMenuAnimOut5 {
  0% {
    -webkit-transform: translateZ(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateZ(-200px);
    opacity: 0; } }
@keyframes SubMenuAnimOut1 {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0; } }
@keyframes SubMenuAnimOut2 {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0; } }
@keyframes SubMenuAnimOut3 {
  0% {
    -webkit-transform: translateZ(0px);
            transform: translateZ(0px);
    opacity: 1; }
  100% {
    -webkit-transform: translateZ(-300px);
            transform: translateZ(-300px);
    opacity: 0; } }
@keyframes SubMenuAnimOut4 {
  0% {
    -webkit-transform: translateZ(0px);
            transform: translateZ(0px);
    opacity: 1; }
  100% {
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    opacity: 0; } }
@keyframes SubMenuAnimOut5 {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateZ(-200px);
            transform: translateZ(-200px);
    opacity: 0; } }
/* No JS Fallback */
.no-js .dl-menuwrapper .dl-menu {
  position: relative;
  opacity: 1;
  -webkit-transform: none;
  transform: none; }

.no-js .dl-menuwrapper li .dl-submenu {
  display: block; }

.no-js .dl-menuwrapper li.dl-back {
  display: none; }

.no-js .dl-menuwrapper li > a:not(:only-child) {
  background: rgba(0, 0, 0, 0.1); }

.no-js .dl-menuwrapper li > a:not(:only-child):after {
  content: ''; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

.header {
  padding: 40px 39px 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header__logo {
  width: 24rem;
  z-index: 100; }

.header__logo-image, .header__logo-image--white {
  height: auto;
  width: 100%; }

.header__logo-image--white {
  display: none; }

.pinned--white .header__logo-image {
  display: none; }
.pinned--white .header__logo-image--white {
  display: inline; }

.footer {
  font-family: "Akkurat-Mono", monospace;
  text-transform: uppercase;
  padding-bottom: 26px;
  margin-top: 80px;
  position: relative; }

.footer__social, .footer__copyright {
  margin-left: 34px; }

.footer__social {
  z-index: 200; }

.footer__copyright {
  font-size: 0.75rem;
  margin-top: 15px;
  color: #7e90a6; }

.footer__next-section {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 31px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  cursor: pointer;
  z-index: 10; }

.footer__next-section-text {
  margin-bottom: 10px;
  font-size: 1rem; }

.footer__next-section-arrow {
  width: 2.1rem; }

.section__container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.section {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .section p {
    color: #7e90a6;
    font-family: "Akkurat-Pro", monospace;
    font-size: 1.35rem;
    line-height: 2.5rem;
    max-width: 600px;
    margin: 0 auto 50px;
    width: 100%; }
    .section p a {
      color: #7e90a6;
      border-bottom: none; }
      .section p a:hover {
        color: #3b77b1; }
  .section .button {
    width: 200px;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-right: 10px;
    margin-bottom: 0; }
    .section .button:last-of-type {
      margin-right: 0; }

.section--dark .section__wrapper {
  padding-bottom: 0; }
.section--dark .footer__copyright {
  color: #fff; }
.section--dark .section__footer {
  position: absolute;
  bottom: 0;
  left: 0; }

.section--dark, .section--background {
  color: #fff; }

.section--background {
  background-color: #3b77b1; }
  .section--background a {
    color: #fff; }
  .section--background p {
    color: #fff; }
  .section--background .footer__copyright {
    color: #fff; }
  .section--background .section__content {
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .section--background .section__footer {
    position: relative; }

.section__wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 15px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.section__footer {
  width: 100%;
  z-index: 10; }
  .section__footer .footer {
    margin-top: 0; }

.section__background {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: top center;
  z-index: -9999; }

.section__column p {
  max-width: none; }
  .section__column p img {
    width: 100%;
    height: auto; }

.section__content {
  text-align: center;
  width: 50%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .section__content h1 {
    max-width: 800px;
    margin: 0 auto;
    width: 100%; }
  .section__content blockquote {
    margin: 0; }
    .section__content blockquote:before {
      content: open-quote; }
    .section__content blockquote:after {
      content: close-quote; }
    .section__content blockquote p {
      margin: 0;
      font-size: 2.5rem;
      line-height: 4rem;
      max-width: none;
      color: #fff;
      font-family: "Romain-Text", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .section__content .attribution {
    margin-top: 20px;
    font-family: "Romain-Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    letter-spacing: 1px; }
  .section__content .attribution__logo {
    max-width: 150px;
    margin-bottom: 0; }
    .section__content .attribution__logo img {
      width: 100%; }

.section__content--fullwidth {
  width: 100%; }

.section--overlay .section__wrapper {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
.section--overlay .section__content, .section--overlay .section__footer {
  background-color: rgba(19, 73, 132, 0.6); }
.section--overlay .section__content {
  text-align: left;
  padding: 30px 80px;
  box-sizing: border-box;
  width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto; }
  .section--overlay .section__content h1 {
    font-size: 2.5rem;
    line-height: 4rem;
    max-width: none; }
.section--overlay .section__footer {
  position: relative; }

.section--columns .section__content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  .section--columns .section__content p {
    max-width: none; }
    .section--columns .section__content p:last-child {
      margin-bottom: 0; }
  .section--columns .section__content > * {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    margin: 0 6.25%; }
    .section--columns .section__content > *:first-child {
      margin-left: 12.5%; }
    .section--columns .section__content > *:last-child {
      margin-right: 12.5%; }

.section__column {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .section__column h1 {
    max-width: 450px; }
  .section__column p {
    font-size: 1rem;
    font-family: "Akkurat-Mono", monospace;
    line-height: 1.8rem; }

.section__image {
  display: none; }

.site-nav {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  font-family: "Akkurat-Mono", monospace;
  text-transform: uppercase;
  line-height: 10px; }

.site-nav__link {
  color: #7e90a6;
  margin-left: 28px;
  padding-bottom: 2px;
  font-size: 1rem; }

.site-nav__link:hover {
  color: #3e79af; }

.site-nav__link--active {
  color: #3e79af;
  border-bottom: 1px solid #3e79af; }

.pinned--white .site-nav__link {
  color: #fff; }

.site-nav__toggle {
  position: absolute;
  display: none;
  right: 30px;
  bottom: 16px;
  width: 20px;
  cursor: pointer; }
  .site-nav__toggle img {
    width: 100%; }

@media screen and (max-width: 1090px) {
  .site-nav__link--active {
    border-bottom: none; } }
.social-list {
  margin: 0; }

.social-list__item {
  display: inline-block; }
  .social-list__item:before {
    content: ''; }
  .social-list__item a:hover {
    border-bottom: none; }

.button {
  background-color: #3b77b1;
  display: inline-block;
  width: 119px;
  text-align: center;
  font-family: "Akkurat-Mono", monospace;
  text-transform: uppercase;
  padding: 13px 0; }
  .button > a {
    color: #fff !important;
    border-bottom: none !important; }

#mapWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #3b77b1;
  margin: 0 auto 40px;
  max-width: 1000px; }
  #mapWrapper.active {
    background-color: #fff;
    text-align: left; }
    #mapWrapper.active .map__left {
      border-right: 1px solid #f2f0ea; }
    #mapWrapper.active .map__left-flex {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    #mapWrapper.active #regionSelector {
      width: 100%; }
  #mapWrapper > * {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-height: 650px; }

#regionSelector {
  border: none;
  font-family: "Akkurat-Mono", monospace;
  color: #3b77b1;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  padding: 21px 43px 20px 25px;
  background: url(/CMHS/Images/DownArrow.png) no-repeat calc(100% - 22px) white;
  background-size: 14px; }

#mapImage {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px; }

#map {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.region__name {
  color: #3e79af !important;
  text-align: left !important;
  padding-top: 40px;
  font-size: 2.1rem;
  margin-bottom: 0 !important; }

.map__left-flex {
  display: inline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.map__left {
  -webkit-box-flex: 0;
  -webkit-flex: 0;
      -ms-flex: 0;
          flex: 0;
  -webkit-flex-basis: 67px;
      -ms-flex-preferred-size: 67px;
          flex-basis: 67px; }

.region__description {
  color: #7e90a6;
  font-size: 1.25rem;
  max-width: 300px;
  margin-bottom: 20px; }

.region__download {
  display: block;
  margin: 30px 0 !important; }

#regionInfoWrapper {
  overflow-y: scroll; }
  #regionInfoWrapper::-webkit-scrollbar {
    width: 9px;
    height: 9px; }
  #regionInfoWrapper::-webkit-scrollbar-thumb {
    background: #8bb3d8; }

#regionInfo > * {
  margin-left: 70px;
  margin-right: 90px; }

.region__locations {
  padding-bottom: 50px; }
  .region__locations hr {
    margin: 35px auto 30px; }

@media screen and (max-width: 1330px) {
  #mapImage {
    display: none; }

  #map {
    display: none; }

  #mapWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    display: block; }
    #mapWrapper #regionSelector {
      font-size: 1.3rem; }
    #mapWrapper.active {
      background-color: transparent;
      display: block; }
      #mapWrapper.active #regionSelector {
        width: auto; }
      #mapWrapper.active .map__left {
        border-right: none; }
    #mapWrapper > * {
      max-height: none; }

  .map__left {
    text-align: center; }

  #regionInfoWrapper {
    width: 650px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #fff;
    overflow-y: visible; }

  #regionSelector {
    padding-right: 70px; } }
@media screen and (max-width: 1090px) {
  #regionInfoWrapper {
    margin: 50px auto 0;
    width: 95%; }

  #regionInfo {
    max-height: none; }
    #regionInfo > * {
      width: 85%;
      max-width: none;
      margin: 0 auto; }

  .region__description {
    padding-right: 15% !important;
    box-sizing: border-box; }

  .region__download {
    display: block; }

  .region__name {
    padding-top: 30px; }

  .region__locations hr {
    margin-left: 0; } }
.address {
  color: #7e90a6;
  font-size: 1.25rem;
  margin-bottom: 20px; }

.address__name {
  font-family: "Akkurat-Mono", monospace;
  text-transform: uppercase;
  color: #3b77b1;
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin-bottom: 5px; }

.post {
  color: #7e90a6;
  text-align: left; }
  .post .post__content > hr {
    max-width: 1000px;
    margin: 70px auto; }
  .post h1, .post h2 {
    text-align: center;
    color: #3b77b1; }
  .post h2 {
    letter-spacing: 1px; }
  .post h2 + h2 {
    margin-top: 15px; }
  .post p {
    max-width: 600px;
    margin: 2rem auto;
    font-size: 1.25rem;
    line-height: 2rem; }
  .post blockquote {
    max-width: 725px;
    margin: 0 auto; }
    .post blockquote p {
      color: #3b77b1;
      font-size: 2.7rem;
      font-family: "Romain-Headline", serif;
      line-height: 3.8rem;
      max-width: none; }
  .post blockquote.small p {
    font-size: 2rem;
    color: #7e90a6;
    line-height: 3.2rem; }
  .post a {
    color: #7e90a6;
    border-bottom: 1px solid #7e90a6; }
    .post a:hover {
      color: #3b77b1;
      border-bottom-color: #3b77b1; }
  .post .multicolumn h1 {
    margin-top: 30px;
    margin-bottom: 25px;
    line-height: 3.8rem; }
  .post .multicolumn h2 {
    margin-top: 30px; }
  .post .multicolumn h1, .post .multicolumn h2 {
    text-align: left; }
  .post .multicolumn p {
    margin-top: auto;
    margin-bottom: 50px; }
    .post .multicolumn p:last-child {
      margin-bottom: 0; }
  .post .post__image {
    max-width: 1000px;
    margin-bottom: 70px; }
  .post .button {
    font-family: "Akkurat-Mono", monospace;
    color: #3b77b1;
    text-transform: uppercase;
    display: block;
    width: 200px;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-top: 55px; }
  .post .multicolumn + .post__image, .post .multicolumn + .caption, .post p + .post__image, .post p + .caption, .post blockquote + .post__image, .post blockquote + .caption {
    margin-top: 70px; }

.post__header {
  margin-top: 220px; }

@media screen and (max-width: 1330px) {
  .post .post__header {
    margin-top: 170px; }
  .post .post__image {
    margin-bottom: 50px; }
  .post .post__content hr {
    max-width: 800px; }
  .post p.wide {
    max-width: 650px; }
  .post .multicolumn + .post__image, .post .multicolumn + .caption, .post p + .post__image, .post p + .caption, .post blockquote + .post__image, .post blockquote + .caption {
    margin-top: 55px; } }
@media screen and (max-width: 1090px) {
  .post .post__header {
    margin-top: 100px; }
  .post blockquote {
    max-width: 70%; }
  .post .post__image {
    margin-top: 40px;
    margin-bottom: 40px; }
    .post .post__image:first-child {
      margin-top: 20px; }
  .post .post__content hr {
    max-width: 85%; }
    .post .post__content hr.narrow {
      margin: 40px auto 38px !important;
      width: 30%; }
  .post .caption {
    display: none; }
  .post p {
    max-width: 85%; }
  .post .multicolumn h1 {
    margin-bottom: 15px;
    line-height: 2.7rem; }
  .post .multicolumn p {
    max-width: 100%; }
  .post .button {
    margin-top: 35px; } }
.content-block {
  text-align: center;
  padding: 92px 0;
  margin-top: 100px;
  margin-bottom: 100px; }
  .content-block h1 {
    margin-bottom: 40px; }

.content-block--blue {
  background-color: #3e79af;
  color: #fff; }
  .content-block--blue h1 {
    color: #fff; }

@media screen and (max-width: 1330px) {
  .content-block {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 50px;
    margin-bottom: 50px; } }
@media screen and (max-width: 1090px) {
  .content-block h1 {
    max-width: 70%;
    margin: 0 auto; } }
.caption {
  text-align: left;
  position: relative; }
  .caption h1, .caption h2, .caption h3, .caption h4, .caption h5, .caption h6 {
    text-align: left; }

.caption__wrapper {
  position: absolute;
  border-left: 2px solid #3b77b1;
  padding-left: 18px;
  width: 100%;
  max-width: 1000px;
  left: 50%;
  top: calc(100% + 29px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  box-sizing: border-box; }
  .caption__wrapper p {
    margin-bottom: 0; }

.caption__text {
  width: 150px; }

.testimonial__wrapper {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.testimonial {
  width: 50%;
  margin: 0 auto;
  display: block;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }
  .testimonial:hover {
    opacity: 0.8; }

.fp-controlArrow {
  background-position: center;
  background-repeat: no-repeat;
  border: none; }
  .fp-controlArrow.fp-prev, .fp-controlArrow.fp-next {
    width: 20px;
    height: 34px;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  .fp-controlArrow.fp-prev {
    background-image: url(/CMHS/Images/LeftArrow.svg); /* some reason only works with svg */
    left: 32px; }
  .fp-controlArrow.fp-next {
    background-image: url(/CMHS/Images/RightArrow.svg);
    right: 32px; }

@media screen and (max-width: 1090px) {
  .fp-controlArrow {
    display: none; } }
.bio__photo {
  text-align: center;
  height: 235px;
  width: 235px;
}

.post .bio__photo {
  margin-top: 5rem; }

.home hr {
  width: 200px; }
.home h1 {
  font-size: 3rem; }
.home blockquote {
  font-size: 2.5rem; }
.home #fullpage {
  height: 100vh !important; }

@media screen and (max-height: 900px) and (min-width: 1090px) {
  .home {
    font-size: 75%; }
    .home .section__wrapper {
      margin-bottom: 0; }
    .home .footer {
      padding-bottom: 27px; }
    .home .section--dark .section__wrapper, .home .section--background .section__wrapper {
      margin-bottom: 15px; }
    .home .section--dark .footer, .home .section--background .footer {
      padding-bottom: 25px; }
    .home .icon {
      width: 2rem; } }
@media screen and (max-width: 1330px) {
  html {
    font-size: 75%; }

  .section__wrapper {
    margin-bottom: 0; }

  .footer {
    padding-bottom: 27px; }

  .section--dark .section__wrapper, .section--background .section__wrapper {
    margin-bottom: 15px; }
  .section--dark .footer, .section--background .footer {
    padding-bottom: 25px; }

  .home .icon {
    width: 2rem; } }
@media screen and (max-width: 1330px) {
  .section__wrapper {
    margin-bottom: 0; }

  .footer {
    padding-bottom: 27px; }

  .section--dark .section__wrapper, .section--background .section__wrapper {
    margin-bottom: 15px; }
  .section--dark .footer, .section--background .footer {
    padding-bottom: 25px; }

  h1 {
    font-size: 2.5rem;
    line-height: 3.7rem; }

  .section__content blockquote p {
    font-size: 2rem;
    line-height: 3.5rem; }

  .wide {
    max-width: 650px !important; } }
@media screen and (max-width: 1310px) and (min-width: 1091px) {
  .site-nav__link {
    font-size: 0.7rem;
    margin-left: 25px; } }
@media screen and (max-width: 1310px) and (max-height: 900px) and (min-width: 1091px) {
  .site-nav__link {
    font-size: 0.93rem; } }
@media screen and (max-width: 1310px) and (max-width: 1330px) and (min-width: 1091px) {
  .site-nav__link {
    font-size: 0.93rem; } }
@media screen and (max-width: 1330px) and (min-width: 1091px) {
  .home h1 {
    line-height: 4.3rem; } }
@media screen and (min-width: 1091px) {
  .home .fp-auto-height.fp-section, .home .fp-auto-height .fp-slide, .home .fp-auto-height .fp-tableCell {
    height: 100vh !important; } }
@media screen and (min-width: 1091px) and (max-height: 900px) {
  .home .section__column p img {
    height: calc(100vh - 243px);
    width: 100%; } }
@media screen and (max-width: 1090px) {
  html {
    font-size: 75%; }

  .pinned {
    position: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .pinned.active {
      height: 100vh; }
      .pinned.active .site-nav {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
      .pinned.active .site-nav__toggle--enter {
        display: none; }
      .pinned.active .site-nav__toggle--exit {
        display: inline; }

  .site-nav {
    width: 100%;
    background-color: white;
    opacity: 0.96;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 100; }

  .site-nav__link {
    margin-left: 0;
    display: block;
    width: 100%;
    padding: 13px 0;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.7rem; }
    .site-nav__link:first-child {
      padding-top: 0; }

  .site-nav__toggle {
    display: inline; }

  .site-nav__toggle--exit {
    display: none; }

  .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0; }

  .header__logo {
    width: 100%;
    position: relative;
    padding: 20px 20px 16px;
    background-color: #ffffff;
    box-sizing: border-box; }

  .header__logo-link {
    width: 180px;
    display: inline-block; }

  #fullpage {
    margin-top: 68px; }

  .home h1, .home blockquote, .home blockquote p, .home blockquote.small p, .post h1, .post blockquote, .post blockquote p, .post blockquote.small p {
    font-size: 1.8rem;
    line-height: 3rem;
    margin-bottom: 15px; }

  #fullFooter {
    text-align: center; }
    #fullFooter .footer {
      margin-top: 50px; }
    #fullFooter .footer__social, #fullFooter .footer__copyright {
      margin-left: 0; }
    #fullFooter .social-list {
      display: inline; }

  .home #fullpage {
    height: auto !important; }
  .home .fp-tableCell, .home .fp-section.fp-table, .home .fp-slide.fp-table {
    height: auto !important; }
  .home .invisible {
    display: none; }
  .home .section {
    height: auto; }
    .home .section p {
      margin-bottom: 25px; }
      .home .section p:last-child {
        margin-bottom: 0; }
    .home .section .button {
      margin-bottom: 0; }
  .home .section__container {
    display: inline;
    height: auto; }
  .home .section--dark {
    display: block;
    height: auto; }
    .home .section--dark .section__wrapper {
      display: inline-block;
      margin: 0; }
    .home .section--dark .section__content {
      position: absolute;
      z-index: 1000;
      top: 50%;
      width: 100%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
      .home .section--dark .section__content h1 {
        margin-bottom: 0; }
  .home .section--overlay .section__content {
    display: none; }
  .home .section__footer {
    display: none; }
  .home .section__content {
    width: 90%;
    max-width: none;
    margin: 0 auto; }
    .home .section__content hr {
      display: none; }
    .home .section__content h1 {
      max-width: 600px;
      width: 100%; }
  .home .testimonial {
    width: 100%;
    max-width: none;
    margin: 0 auto; }
  .home .section__wrapper {
    margin: 30px 0 40px;
    padding: 0;
    display: block; }
  .home .section--background .section__wrapper {
    width: 100%; }
  .home .section--overlay .section__content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center; }
  .home .section--overlay .section__background {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
    height: auto; }
  .home .section--columns .section__content {
    display: inline; }
    .home .section--columns .section__content > * {
      margin: 0 auto;
      -webkit-box-flex: 0;
      -webkit-flex: 0;
          -ms-flex: 0;
              flex: 0;
      width: 90%; }
  .home .section--background .section__content {
    max-width: 650px;
    position: relative;
    -webkit-transform: none;
            transform: none; }
  .home .section__column p {
    font-size: 1.4rem;
    line-height: 2.6rem;
    margin-left: auto !important;
    margin-right: auto !important; }
    .home .section__column p:last-child {
      margin-bottom: 0; }
  .home .section__column img {
    max-width: 400px; }
  .home .section__column + .section__column {
    margin-top: 40px; }
  .home .section__image {
    display: inline-block;
    max-width: 100vw; }
  .home .section__background {
    display: none; }
  .home .fp-tableCell {
    text-align: center; }
  .home .fp-slidesContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .home .fp-slides {
    height: auto; } }
@media screen and (max-width: 475px) {
  .home .section .button {
    margin: 10px auto 12px;
    display: block;
    padding: 8px 0; }
    .home .section .button:last-of-type {
      margin: 0 auto; }

  h2 {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto; }

  .multicolumn h2 {
    max-width: inherit; }

  #fullFooter .footer {
    margin-top: 50px; } }
.fp-tableCell {
  height: 100% !important; }

.fp-slidesContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

html.fp-enabled, .fp-enabled body {
  overflow-x: hidden !important; }

div.download {
  margin: 2rem auto;
  max-width: 900px;
  text-align: center !important; }
  div.download .column3 {
      float: left;
      width: 33%; }

  div.download div a, div.memberQuotes div a {
    border-bottom: none;
    word-spacing: 4px; }
  div.download p.sans-serif, div.memberQuotes p.sans-serif {
    font-size: 1.0em !important;
    line-height: 1.5rem !important;
    margin-top: 1rem; }
  div.download p.post__image, div.memberQuotes p.post__image {
    margin-bottom: 20px !important; }

div.memberQuotes {
  margin: 2rem auto;
  max-width: 900px; }
  div.memberQuotes div.column {
    float: left;
    margin-left:  40px;
    margin-right: 40px;
    max-width: 200px; }
  div.memberQuotes h2 {
    font-size: 1rem; }
  div.memberQuotes p.sans-serif {
    margin-bottom: 20px !important;
    text-align: center !important; }

.error {
	background-color: #ffeeee;
	border: solid 1px #cc0000;
	border-radius: 8px;
	color: #cc0000;
	display: inline-block;
	white-space: pre;
	font-size: 12px;
	font-family: 'Courier New';
	padding: 8px;
	text-align: left;
}
