﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="LeftNavPageSecondaryContent.ascx.cs" Inherits="Duals.Website.Layouts.Sublayouts.LeftNavPageSecondaryContent" %>
<div class="span4">&nbsp;</div>
<div class="span8">
	<sc:Text runat="server" Field="Secondary Page Content" />
</div><!-- / span8 -->