﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ProviderTrainingContentPage.ascx.cs" Inherits="Website.Sublayouts.ProviderTrainingContentPage" %>
<asp:PlaceHolder ID="phError" runat="server" Visible="false"></asp:PlaceHolder>
