﻿#headerImg {
  background-color: #e8e8e8;
  border: 1px solid #a6a6a6;
  border-radius: 4px;
  margin-top: 4px;
}
#headerImg div {
  padding: 0 10px;
}
#headerDiv {
  color: Black;
}
#headerDiv a {
  color: #74aee5;
  text-align: right;
}
#admin h1 {
  color: #19375c;
  font-size: 30px;
}
#admin h2 {
  color: #00182b;
}
table.radio-inline td {
  padding-right: 32px;
}
table.radio-inline label {
  font-weight: normal;
}
/*
.smallerText
{
	font-size: 0.8em;
}


#admin label
{
	margin: 0 5px;
}

#admin ul li
{
	line-height: 2em;
}
*/
.appDetails {
  background-color: #ffffff;
  border-collapse: collapse;
}
.appDetails td {
  border: 1px solid #e8e8e8;
  vertical-align: top;
  padding: 5px 10px;
}
.appDetails td.header {
  border-bottom: solid 1px #19375c;
  color: #19375c;
  font-size: 1.1em;
  font-weight: bold;
}
.appDetails td.subHeader {
  color: #19375c;
  font-size: 1.0em;
  font-weight: bold;
}
.appDetails td.gridHeader {
  background-color: #a6a6a6;
  font-weight: bold;
}
.appDetails tr.alt {
  background-color: #e8e8e8;
}
.appDetails tr.appButton td {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}
.appDetails td.label {
  width: 200px;
  color: #000000;
  font-weight: bold;
}
.appList {
  border: solid 1px #e8e8e8;
  margin-top: 12px;
}
.appList tr.gridHeader {
  background-color: #a6deff;
  color: #fff;
  font-weight: bold;
}
.appList td,
.appList th {
  border-bottom: none;
  vertical-align: top;
}
.appList .gridHeader td,
.appList .gridHeader th {
  background-color: #0067b1;
  color: #ffffff;
  font-weight: bold;
}
.appList .gridHeader a,
.appList .gridHeader a:visited {
  color: #ffffff;
  text-decoration: none;
}
.appList .gridHeader a:hover {
  color: #000000;
  text-decoration: none;
}
.appList tr.alt {
  background-color: #e8e8e8;
}
.appList .gridFooter {
  background-color: #0067b1;
  color: #ffffff;
  font-weight: bold;
}
.appList .gridPager {
  background-color: #19375c;
  color: #ffffff;
  text-align: center;
}
.listButtons input {
  padding: 4px;
}
.listButtons label {
  color: #6e6e6e;
}
.listButtons input[type="button"]:hover,
.listButtons input[type="submit"]:hover {
  color: #0000aa;
}
.listButtons input[type="submit"]:disabled {
  border: 1px solid #a6a6a6;
  color: #a6a6a6;
  cursor: default;
}
.cellCenter {
  text-align: center;
}
#tree {
  text-align: left;
}
#tree td {
  padding: 0;
}
#tree td div {
  height: 20px !important;
}
/*# sourceMappingURL=apps.css.map */