﻿/* Screen sizes */
// Extra small screen / phone
@screen-xs-min:  480px;
// Small screen / tablet
@screen-sm-min:  769px;
// Medium screen / desktop
@screen-md-min:  992px;
// Large screen / wide desktop
@screen-lg-min:  1200px;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:  (@screen-sm-min - 1);
@screen-sm-max:  (@screen-md-min - 1);
@screen-md-max:  (@screen-lg-min - 1);

/* Other variables */
@hovertrans: 0.3s;
@smallround: 4px;
@largeround: 8px;


.menuhover {
	-moz-transition: background linear @hovertrans;
	-o-transition: background linear @hovertrans;
	-webkit-transition: background linear @hovertrans;
	transition: background linear @hovertrans;
}

.rounding(@roundradius) {
	border-radius: @roundradius;
}

.rounding-bottom(@roundradius) {
	border-bottom-left-radius: @roundradius;
	border-bottom-right-radius: @roundradius;
}

.rounding-top(@roundradius) {
	border-top-left-radius: @roundradius;
	border-top-right-radius: @roundradius;
}

.gradient(@colorlt, @colormid, @colorrt){
	background: @colorlt; /* Old browsers */
	background: -moz-linear-gradient(top, @colorlt 1%, @colormid 50%, @colorrt 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, @colorlt), color-stop(50%, @colormid), color-stop(100%,@colorrt)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, @colorlt 1%, @colormid 50%, @colorrt 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, @colorlt 1%, @colorlt 50%, @colorrt 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, @colorlt 1%, @colorlt 50%, @colorrt 100%); /* IE10+ */
	background: linear-gradient(to bottom, @colorlt 1%, @colorlt 50%, @colorrt 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@colorlt', endColorstr='@colorrt', GradientType=0 ); /* IE6-9 */
}

.bottomBorder(@color){
	border-bottom: solid 1px @color;
}

.topBorder(@color){
	border-top: solid 1px @color;
}

.stateImages(@homePage, @otherPages){
	.banner {
		background-image: url(@homePage);
	}

	.banner-home {
		background-image: url(@otherPages);
	}
}

.stateWidget(@height, @heightLg){
	@media screen and (min-width: @screen-sm-min) {
		.panel-home-hero .widget-text {
			height: @height;
		}

		body.large .panel-home-hero .widget-text {
			height: @heightLg;
		}
	}
}
