﻿a[href]:after {
	content: none !important;
}

#preHeader, .searchBox, #nav, #modalState, #sideBar, .links.horz, #sideBar, #RegPanel, .link, #heroHome, .gridItem .btn, #getStarted a {
	display: none;
}

#main {
	width: 100%;
	margin: 0;
	float: none;
}

#mainCol {
	width: 100%;
	margin: 20px;
	padding-bottom: 0;
	float: none;
}

.heroContainer a, .heroContainer img {
	display: none;
}

#heroInner .heroCallOut {
	padding-left: 10px;
}

.gridItem h4, .newsList .heading {
	background-image: none !important;
}

#footerContent {
	float:none;
	width:100%;
}

#footer > .content > .disclaimer {
	float: none;
	padding-bottom: 0;
	text-align:center;
	width:100%;
}

#footerUtilNav, #footerNav, .social {
	display: none;
}
