﻿@import (reference) "variables.less";
@import (reference) "mixins.less";

/* HTML elements */
html {
	position: relative;
	min-height: 100%;
}

body {
	color: @darkestgrey;
	margin-bottom: @footerht;
}

form {
	margin: 0;
	padding: 0 0 50px 0;
}

h1 {
	color: @dark;
}
h2 {
	color: @darkest;
}
h3 {
	color: @darkgrey;
}
h1, h2, h3, h4 {
	font-family: 'Lato',sans-serif;
	font-weight: 400;
	word-spacing: 4px;
}

a[href^="tel"]{
	color: inherit;
}

hr {
	border-top-color: @lightestgrey;
}

ul > li {
	line-height: 1.8;
}

td {
	padding: @table-cell-padding;
	vertical-align: top;
}


/* Top Navigation */
#topBar {
	background-color: @darkgrey;
}
	#topBar a, #topBar span {
		color: @white;
	}

#topBarNav > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
	#topBarNav > ul > li {
		border-left: 1px solid @white;
		float: left;
		padding: 4px 10px;
	}
		#topBarNav > ul > li:first-child {
			border: none;
		}

#hdrState, #hdrLanguage {
	font-size: 1.125em;
	line-height: 1.0;
	padding-top: 4px;
}

#hdrState a, #hdrLanguage a {
	color: @neutral;
	text-decoration: underline;
}

#hdrState a:hover, #hdrLanguage a:hover {
	color: @white;
}

.nav-top-right {
	color: @white;
	margin-top: 4px;
}


/* Header */
.logo {
	margin-top: 24px;
}
.search {
	padding-right: 0;
	margin-top: 4px;
}
@media screen and (max-width: @screen-xs-max) {
	.logo, .search {
		margin: 4px auto;
	}
}


/* Main Navigation */
#navBarMain.affix {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

.navbar {
	margin-bottom: 0;
}
	.navbar .navbar-text {
		color: @white;
	}

.navbar-default {
	.gradient(@normal, @normal, @light);
	background-attachment: scroll;
	padding: 0;
}

/* Full size screen make the menu full width and */
@media screen and (min-width: @screen-md-min) {
	.navbar-default .navbar-nav {
		margin: 0;
		display: table;
		width: 100%;
	}
		.navbar-default .navbar-nav > li {
			display: table-cell;
			float: none;
			white-space: nowrap;
		}
}
	.navbar-default .navbar-nav > li > a {
		border-right: 1px solid @white;
		color: @white;
		text-align: center;
	}
		.navbar-default .navbar-nav > li > a:focus,
		.navbar-default .navbar-nav > li > a:hover {
			background-color: @dark;
			color: @white;
			.menuhover();
		}
	.navbar-default .navbar-nav > li:first-child > a {
		border-left: 1px solid @white;
	}

		.navbar-default .navbar-nav > .active > a,
		.navbar-default .navbar-nav > .active > a:focus,
		.navbar-default .navbar-nav > .active > a:hover {
			color: @lightestgrey;
			.gradient(@dark, @normal, @normal);
		}

		.navbar-default .navbar-toggle,
		.navbar-default .navbar-toggle:focus {
			background-color: @normal;
		}

		.navbar-default .navbar-toggle .icon-bar {
			background-color: @white;
		}

		.navbar-default .nav > li > a {
			font-size: 16px;
			font-weight: bold;
			width: 100%;
		}

@media screen and (max-width: @screen-xs-max) {
	.navbar-default .navbar-nav > li > a {
		border-bottom: 1px solid @white;
		border-right: none;
	}
		.navbar-default .navbar-nav > li:first-child > a {
			border-left: none;
		}
}

/* Side Nav*/
#sideNav {
	margin-bottom: 20px;
}

@media screen and (max-width: @screen-xs-max) {
	#sideNav {
		margin-top: 20px;
	}
}

.nav-stacked {
	border: 1px solid @lightestgrey;
	.rounding(8px);
}
	.nav-stacked > li {
		border-bottom: 1px solid @lightestgrey;
		line-height: 1.42857143;
	}
		.nav-stacked > li:last-child {
			border-bottom: none;
		}
		.nav-stacked > li + li {
			margin-top: 0;
		}
		.nav-stacked > li > a,
		.nav-stacked > li > span {
			padding: 5px;
		}

	.nav-stacked > li.nav-stacked-hdr {
		background-color: @darkest;
		border-bottom: solid 1px @white;
		.rounding-top(8px);
	}
		.nav-stacked > li.nav-stacked-hdr > a,
		.nav-stacked > li.nav-stacked-hdr > span {
			color: @white;
		}
			.nav-stacked > li.nav-stacked-hdr > a:hover {
				background-color: @dark;
				color: @lightestgrey;
				.rounding-top(8px);
			}
		.nav-stacked > li.nav-stacked-hdr > span {
			display: block;
			padding: 10px 15px;
		}

	.nav-stacked > li.active {
		background-color: @normal;
		color: @white;
	}
		.nav-stacked > li.active > span {
			display: block;
		}
		.nav-stacked > li.active > a {
			color: @white;
		}
			.nav-stacked > li.active > a:hover {
				background-color: @dark;
				color: @lightestgrey;
			}
		.nav-stacked > li.active > ul {
			background-color: @lightestgrey;
			border-bottom: 1px solid @darkgrey;
			list-style: none;
			padding: 0;
			}
		
		.nav-stacked > li.active > ul > li {
			border-bottom: 1px solid @darkgrey;
			line-height: 1.42857143;
			padding: 5px;
		}
			.nav-stacked > li.active > ul > li:last-of-type {
				border-bottom: none;
			}
			.nav-stacked > li.active > ul > li.active {
				background-color: @lightgrey;
				color: @darkestgrey;
			}
			.nav-stacked > li.active > ul > li.active a {
				color: @white;
			}

#sideNavBroker .nav-stacked > li.nav-stacked-hdr,
#sideNavBroker .nav-stacked > li.nav-stacked-hdr a:hover {
	background-color: @light;
}


/* Side Callouts */
.callout-lt-side .panel {
	box-shadow: 1px 1px 1px 1px @lightgrey;
}
.callout-lt-side .panel-body {
	padding-bottom: 0;
}
.callout-lt-side h3 {
	color: @black;
	font-size: 14pt;
	font-weight: 400;
	margin: 0;
}


/* Form items */
/* Fix for checkbox / radio labels due to ASP.NET control rendering */
.radio-inline input[type=radio] {
	margin-left: -20px;
}
.radio-inline label {
	min-height: 20px;
	margin-bottom: 0;
	padding-right: 20px;
	margin-right: 20px;
	font-weight: normal;
	cursor: pointer;
}
ul.radio-inline {
	list-style-type: none;
}
.radio span.no-margin-left input[type=radio] {
	margin-left: 0;
}
 span.radio-inline.no-padding-top {
	padding-top: 0;
}
.form-horizontal .text-danger {
	color: @error;
}
.checkbox-inline label {
	font-weight: normal;
}
label.control-text, label div.control-text, div.control-text {
	font-weight: normal;
	padding-top: 7px;
	text-align: left;
}
.underline {
	text-decoration: underline;
}
.form-horizontal .validation {
	padding-top: 7px;
}


/* Sticky Footer */
footer {
	background-color: @lightestgrey;
	.topBorder(@darkgrey);
	bottom: 0;
	height: @footerht;
	position: absolute;
	width: 100%;
}

footer ul {
	list-style-type: none;
}

footer .row:last-child {
}

footer .nav > li > a {
	padding-bottom: 2px;
	padding-top: 2px;
}

footer #pnlNonDiscrimination,
footer #pnlDisclaimer,
footer #cmsApproval,
footer #lastUpdated,
footer #social {
	.topBorder(@darkgrey);
	padding-bottom: 4px;
	padding-top: 4px;
}

@media screen and (max-width: @screen-xs-max) {
	footer {
		height: auto;
		position: relative;
	}
}


/* Custom spacing */
.no-margin hr {
	margin-bottom: 0;
	margin-top: 0;
}
.no-margin-bottom {
	margin-bottom: 0;
}
.no-padding-bottom {
	padding-top: 0;
}
.no-margin-top {
	margin-top: 0;
}
.no-padding-top {
	padding-top: 0;
}
.bottom-spacer {
	margin-bottom: 12px;
}
.top-spacer {
	margin-top: 12px;
}
.top-spacer-double {
	margin-top: 24px;
}
.item-spacer {
	padding: 6px;
}
img.margin-right {
	margin-right: 5px;
}
.indent {
	margin-left: 24px;
}


/* Large font */
body.large {
	font-size: 2em;
}
body.large #topBarNav > ul > li > a {
	font-size: 1em;
}


/* Custom styles for specific media sizes */
@media screen and (max-width: @screen-xs-max) {
	.text-xs-left {
		text-align: left;
	}
	.text-xs-right {
		text-align: right;
	}
	.text-xs-center {
		text-align: center;
	}
	.row-margin-top {
		margin-top: 6px;
	}
	.row-margin-bottom {
		margin-bottom: 6px;
	}
}


/* Panel customization */
.panel-image {
	padding-left: 0;
	margin-left: 0;
}

.panel-landing {
	font-size: 1.1em;
}
.panel-landing .panel-heading {
	font-weight: bold;
}
.panel-landing .panel-image {
	margin-right: 10px;
}
	.panel-landing .panel-image img {
		border-bottom-left-radius: @smallround;
	}

.panel-callout .panel-image img {
	border-top-left-radius: @smallround;
	border-top-right-radius: @smallround;
}

.panel-margin {
	padding: 10px 10px 0 10px;
}

.hero {
	box-shadow: @shadow 2px 2px;
}

.panel-hero {
	box-shadow: 0 0 8px 0 @shadow;
	margin-left: 0;
	margin-right: 0;
	overflow: hidden;
	.rounding-top(8px);
	zoom: 1;
}
	.panel-hero .panel-hero-image {
		padding-left: 0;
		z-index: -1;
	}


.panel-sub-hero {
	box-shadow: 0 0 8px 0 @shadow;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 20px;
}
	.panel-sub-hero .col-md-6 div {
		padding-left: 0;
		padding-right: 0;
	}
	.panel-sub-hero .sub-hero-left {
		background-color: @lightest;
		border-right: solid 1px @shadow;
	}
	.panel-sub-hero .sub-hero-right {
		background-color: @lightestgrey;
	}

.panel-hero-title h3 {
	color: @darkestgrey;
}
.panel-hero-body h2 {
	color: @dark;
}
.panel-hero-title, .panel-hero-body {
	padding: 4px 4px 12px 4px;
}

.panel-callout h3 {
	margin-top: 0;
}


/* Home Page Specific */
.banner {
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("../images/bg-container-main.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	height: 192px;
}
.banner-home {
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("../images/home_Banner.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	height: 344px;
}
.banner-home h1 {
	font-size: 28px;
}


div.col-xs-12:nth-of-type(1) div.panel-home-hero .panel-default {
	box-shadow: 1px 1px 1px 1px @teal-lighter;
}
div.col-xs-12:nth-of-type(1) div.panel-home-hero .panel-heading {
	.gradient(@teal, @teal-lighter, @teal-lightest);
	color: @white;
}

div.col-xs-12:nth-of-type(2) div.panel-home-hero .panel-default {
	box-shadow: 1px 1px 1px 1px @green-lighter;
}
div.col-xs-12:nth-of-type(2) div.panel-home-hero .panel-heading {
	.gradient(@green, @green-lighter, @green-lightest);
	color: @white;
}

div.col-xs-12:nth-of-type(3) div.panel-home-hero .panel-default {
	box-shadow: 1px 1px 1px 1px @cyan-lighter;
}
div.col-xs-12:nth-of-type(3) div.panel-home-hero .panel-heading {
	.gradient(@cyan, @cyan-lighter, @cyan-lightest);
	color: @white;
}


.panel-home-hero .panel-default {
	box-shadow: 1px 1px 1px 1px @shadowgrey;
}
.panel-home-hero .panel-heading h3 {
	color: @white;
	margin: 0;
	text-align: center;
}
.panel-home-hero .widget-image {
	height: 100%;
	width: 100%;
}

.panel-home-hero .widget-image object {
	object-fit: fill;
}

.panel-home-hero .widget-row {
	margin-right: 5px;
}
.panel-home-hero .widget-row:last-of-type {
	margin-right: 0;
}

.panel-home-hero .widget-content {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 5px;
}

.panel-home-callback .panel {
	box-shadow: 1px 1px 1px 1px @normal;
}

.panel-home-callback h3 {
	color: @black;
	font-weight: 400;
}

.panel-home-callback h4 {
	font-weight: 800;
	text-align: center;
}
.panel-home-callback h4 a {
	color: @white;
	text-decoration: underline;
}

.panel-home-hero .panel-video .embed-responsive-1by1 {
	margin-bottom: 2px;
	height: 194px;
	width: 100%;
}

.form-search .glyphicon-search {
	font-size: 16px;
	width: auto;
}


@media screen and (max-width: @screen-xs-max) {
	.banner, .banner-home {
		background: none;
		height: auto;
	}
	.search {
		.topBorder(@lightestgrey);
		.bottomBorder(@lightestgrey);
		padding-bottom: 12px;
		padding-top: 12px;
	}
}


/* Enroll Page Specific */
.panel-enroll h3 {
	margin: 0;
}
.enrollByMail {
	background-color: @light;
	display: block;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 7px 0;
	.rounding(8px);
	text-align: center;
}
	.enrollByMail a {
		color: @white;
		font-size: 1.15em;
	}


/* Plan Page Specific */
.planStep {
	margin-top: 20px;
}
	.planStep h3 {
		color: @normal;
		margin-top: 0;
	}
	.planStep .icon {
		background-color: @normal;
		border-radius: 50%;
		color: @white;
		display: inline-block;
		float: left;
		font-size: 24px;
		font-weight: bold;
		line-height: 2;
		margin-right: 20px;
		padding: 0 20px;
	}
.planLinks ul {
	padding-left: 20px;
}


/* Other Page Specific */
.appPage h3 {
	margin-top: 0;
}

#mapCanvas {
	border: 1px solid @lightgrey;
}

#callbackModal .close {
}

.faqQuestion {
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 6px;
	margin-top: 24px;
}
.faqQuestion:first-of-type {
	margin-top: 12px;
}
.faqAnswer {
	margin-left: 20px;
}


.execPic {
	box-shadow: 0 0 8px 0 @shadow;
	.rounding(8px);
}
h3.execName, h4.execTitle {
	margin-top: 0;
}
