﻿/* Colors */
@black:         #000;

@darkest:       rgb(0, 24, 43);
@dark:          rgb(25, 55, 92);
@normal:        rgb(0, 103, 177); /*rgb(66, 146, 203);*/
@light:         rgb(116, 174, 229);
@lightest:      rgb(166, 222, 255);

@darkestgrey:   rgb(51, 51, 51);
@darkgrey:      rgb(110, 110, 110);
@lightgrey:     rgb(166, 166, 166);
@lightestgrey:  rgb(232, 232, 232);

@shadow:        rgba(0, 103, 177, 0.5);
@shadowgrey:    rgba(103, 103, 103, 0.5);

@error:         rgb(240, 20, 10);
@success:       rgb(0, 112, 62);
@neutral:       rgb(255, 255, 210);

@white:         #fff;

@brown:            rgb(166, 110, 29);
@brown-lighter:   rgba(166, 110, 29, 0.875);
@brown-lightest:  rgba(166, 110, 29, 0.75);

@cyan:            rgb(00, 141, 193);
@cyan-lighter:   rgba(00, 141, 193, 0.875);
@cyan-lightest:  rgba(00, 141, 193, 0.75);

@green:            rgb(58, 153, 58);
@green-lighter:   rgba(58, 153, 58, 0.875);
@green-lightest:  rgba(58, 153, 58, 0.75);

@teal:            rgb(0, 139, 139);
@teal-lighter:   rgba(0, 139, 139, 0.875);
@teal-lightest:  rgba(0, 139, 139, 0.75);

@green:            rgb(58, 153, 58);
@green-lighter:   rgba(58, 153, 58, 0.875);
@green-lightest:  rgba(58, 153, 58, 0.75);

/* Other */
@footerht:           274px;
@table-cell-padding: 4px;
