﻿.banner {
  background-image: url("/images/bg-container-mainCA.jpg");
}
.banner-home {
  background-image: url("/images/home_BannerCA.jpg");
}
@media screen and (max-width: 768px) {
  .banner,
  .banner-home {
    background: none;
    height: auto;
  }
}
/*# sourceMappingURL=CA_default.css.map */