﻿@import (reference) "../mixins.less";
@import (reference) "../variables.less";

.stateImages("/images/bg-container-mainCA.jpg", "/images/home_BannerCA.jpg");

@media screen and (max-width: @screen-xs-max) {
	.banner, .banner-home {
		background: none;
		height: auto;
	}
}
