<%@ Page Language="C#" %>

<script runat="server">
protected void Page_Load(object sender, System.EventArgs e)
{
	Response.Write("Default Sitecore Page");
}
</script>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<html>
<head>
	<title>www.sitecore.net</title>
	<link href="/css/default.css" rel="stylesheet" type="text/css"/>
	<meta content="Microsoft Visual Studio 7.0" name="GENERATOR"/>
	<meta content="C#" name="CODE_LANGUAGE"/>
	<meta content="JavaScript" name="vs_defaultClientScript"/>
	<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema"/>
</head>
<body>
</body>
</html>
