﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Base.master.cs" Inherits="CMGI.Layouts.Base" %>
<%@ Register TagPrefix="asp" Namespace="System.Web.UI" Assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" %>
<%@ Register TagPrefix="cg" Namespace="CMGI.BL.WebControls" Assembly="CMGI" %>
<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.WebControls" Assembly="Sitecore.Kernel"  %>
<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.WebControls" Assembly="Sitecore.Analytics"  %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
	<title>CareMore Medical Group</title>

	<link rel="icon" href="/CMGI/Images/ico_caremore.ico" type="image/icon" />
	<link rel="shortcut icon" href="/CMGI/Images/ico_caremore.ico" type="image/icon" />

	<meta name="language" content="en-US" />

	<!-- jQuery (required) -->
	<script src="/CMGI/JS/jquery.js" type="text/javascript"></script>
	<script src="/CMGI/JS/plugins.js" type="text/javascript"></script>

	<!-- Anything Slider -->
	<link rel="Stylesheet" href="/CMGI/CSS/anythingslider.css" type="text/css">
	<script src="/CMGI/JS/jquery.anythingslider.js" type="text/javascript"></script>

	<!-- Define slider dimensions here -->
	<link rel="Stylesheet" href="/CMGI/CSS/carousel.css" type="text/css" />
	<link rel="Stylesheet" href="/CMGI/CSS/theme-cmgi.css" type="text/css" />

	<!-- CSS -->
	<link href="/CMGI/CSS/style.css" rel="stylesheet" type="text/css" />

	<!-- JavaScript -->
	<script src="/CMGI/JS/jwplayer.js" type="text/javascript"></script>
	<script src="/CMGI/JS/global.js" type="text/javascript"></script>

	<asp:ContentPlaceHolder ID="head" runat="server">
	</asp:ContentPlaceHolder>
</head>
<body>

<form id="form2" runat="server">
	<div class="mainContainer">
		<!-- Header -->
		<div class="top-blue"></div>
		<div id="top">
			<div>
				<div class="topLeft">
					<asp:HyperLink ID="HomeLink" runat="server"><cg:Image ItemReferenceName="LOGO_HEADER" FIELD="Image" runat="server" cssclass="logo"></cg:Image></asp:HyperLink>
				</div>
				<div class="topRight">
					<div style="margin-bottom: 4px;">
						<asp:Repeater ID="rptTopRtNav" runat="server">
							<HeaderTemplate><ul></HeaderTemplate>
							<ItemTemplate>
								<li><cg:Link ID="lnkTop" Field="Link" runat="server" /></li>
							</ItemTemplate>
							<SeparatorTemplate>
								<li class="spacer">|</li>
							</SeparatorTemplate>
							<FooterTemplate></ul>
								<div class="clear_both"></div>
							</FooterTemplate>
						</asp:Repeater>
					</div>
					<asp:Panel ID="searchBox" runat="server" ClientIDMode="Static" DefaultButton="btnSearch">
						<asp:TextBox ID="txtSearch" runat="server" CssClass="searchInput defaultValue" ValidationGroup="Search" ToolTip="Enter search terms" />
						<asp:Button ID="btnSearch" runat="server" CssClass="button" OnClick="BtnSearch_Click" Text="FIND" ValidationGroup="Search" />
					</asp:Panel>
				</div>
				<div class="clear_both"></div>
			</div>

			<!-- Top Navigation -->
			<div id="nav">
				<asp:Repeater ID="rptMainNav" runat="server">
					<HeaderTemplate><ul></HeaderTemplate>
					<ItemTemplate>
						<li style="width: <%# Eval("Width") %>px;" class="<%# Eval("CssClass") %>"><cg:Link ID="lnkMain" Field="Link" runat="server" /></li>
					</ItemTemplate>
					<FooterTemplate></ul>
						<div class="clear_both"></div>
					</FooterTemplate>
				</asp:Repeater>
			</div>

			<!-- End Top Navigation -->
			
		</div>
		<!-- End Header -->

		<!-- Main Content -->
		<div class="mainBody">
			<asp:ContentPlaceHolder ID="MainBodyContent" runat="server">
			</asp:ContentPlaceHolder>
		</div>
		<!-- End Main Content -->

		<!-- Footer -->
		<div class="footer">
			<asp:Label ID="FooterLabel" runat="server" />
			-
			<asp:HyperLink ID="PrivacyLink" runat="server">Privacy Policy</asp:HyperLink>
		</div>
		<!-- End Footer -->
	</div>
</form>

<asp:PlaceHolder ID="plcGoogleAnalytics" runat="server">
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-42202818-1']);
	_gaq.push(['_trackPageview']);

	(function ()
	{
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
</asp:PlaceHolder>

</body>
</html>
