﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="GoogleMap.ascx.cs" Inherits="CMGI.Sublayouts.GoogleMap" %>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false">
</script>
<script src="/CMGI/JS/richmarker.js" type="text/javascript"></script>
<asp:Literal runat="server" ID="litLocationsArray" />
<script type="text/javascript">
    $j(function () {
        initialize();
        });
</script>
<div id="map">
</div>
