﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="LivePersonLink.ascx.cs" Inherits="Website.Sublayouts.LivePersonLink" %>

<!-- Begin SubLayouts/LivePersonLink -->
<div>
<script language="javascript" type="text/javascript">
function LpChatBtn_Click()
{
	lpButtonCTTUrl = 'http://server.iad.liveperson.net/hc/72175542/?cmd=file&file=visitorWantsToTalk&site=72175542&imageUrl=http://<%= Request.Url.Host %>/images/LivePerson&referrer=' + escape(document.location);
	lpButtonCTTUrl = (typeof(lpAppendVisitorCookies) != 'undefined' ? lpAppendVisitorCookies(lpButtonCTTUrl) : lpButtonCTTUrl);
	window.open(lpButtonCTTUrl, 'call72175542', 'width=472,height=320,resizable=yes');
	return false;
}
</script>
	<table border="0" cellspacing="2" cellpadding="2">
		<tr>
			<td align="center"></td>
			<td align="center">
				<a id="_lpChatBtn" 
					href="http://server.iad.liveperson.net/hc/72175542/?cmd=file&file=visitorWantsToTalk&site=72175542&byhref=1&imageUrl=http://<%= Request.Url.Host %>/images/LivePerson" 
					target="call72175542" onclick="LpChatBtn_Click();"></a>
				<script language="javascript" type="text/javascript">
					var img=new Image();
					img.style.border='0';
					img.name='hcIcon';
					img.src='http://server.iad.liveperson.net/hc/72175542/?cmd=repstate&site=72175542&channel=voice&&ver=1&imageUrl=http://<%= Request.Url.Host %>/images/<%= GetImagePath()%>'+'&d='+((new Date()).getTime());
					var par=document.getElementById('_lpChatBtn');
					if(par!=null) {
						par.appendChild(img);
					}
				</script>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td align="center">
				<div style="margin-top:5px;">
					<span style="font-size:10px; font-family:Arial, Helvetica, sans-serif"><a href="http://solutions.liveperson.com/live-chat" style="text-decoration:none; color:#000" target="_blank"></a></span>
				</div>
			</td>
		</tr>
	</table>
</div>
<!-- End SubLayouts/LivePersonLink -->