﻿<%@ Control Language="C#" AutoEventWireup="false" CodeBehind="SearchAdvancedPage.ascx.cs" Inherits="Website.Sublayouts.SearchAdvancedPage" %>
<%--<%@ Register TagPrefix="ces" Namespace="Coveo.CES.Web.Search.Controls" Assembly="Coveo.CES.Web.Search, Version=6.0.0.0, Culture=neutral, PublicKeyToken=44110d16825221f2" %>--%>

<!-- Begin SubLayouts/SearchAdvancedPage -->
<div class="row">
	<div class="col-xs-12">
		<%--<ces:SearchInterface ID="SearchInterface12" runat="server" />--%>
	</div>
</div>
<!-- End SubLayouts/SearchAdvancedPage -->
<%--TODO: COVEO WAS HERE--%>