﻿<%@ Control Language="C#" AutoEventWireup="false" CodeBehind="StateLandingPage.ascx.cs" Inherits="Website.Sublayouts.StateLandingPage" %>

<!-- Begin SubLayouts/StateLandingPage -->
<div class="row">
	<div class="col-xs-12">
		<asp:PlaceHolder ID="phError" runat="server" Visible="false"></asp:PlaceHolder>
	</div>
</div>
<!-- End SubLayouts/StateLandingPage -->
