﻿@import url("TN_default.min.css");
@media screen and (min-width: 769px) {
  .panel-home-hero .widget-text {
    height: 450px;
  }
  body.large .panel-home-hero .widget-text {
    height: 960px;
  }
}
/*# sourceMappingURL=TN_default_SP.css.map */