﻿.banner {
  background-image: url("/images/bg-container-mainTN.jpg");
}
.banner-home {
  background-image: url("/images/home_BannerTN.jpg");
}
@media screen and (min-width: 769px) {
  .panel-home-hero .widget-text {
    height: 380px;
  }
  body.large .panel-home-hero .widget-text {
    height: 720px;
  }
}
/*# sourceMappingURL=TN_default.css.map */