﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Search.ascx.cs" Inherits="CMGI.Sublayouts.Search" %>
<%--<%@ Register TagPrefix="ces" Namespace="Coveo.CES.Web.Search.Controls" Assembly="Coveo.CES.Web.Search, Version=6.0.0.0, Culture=neutral, PublicKeyToken=44110d16825221f2" %>--%>

<%--<ces:SearchInterface ID="searchInterface12" Name="CMGI" runat="server" />--%>

<p>&nbsp;</p>
<%--TODO: COVEO WAS HERE--%>