#slider { width: 940px; height: 346px; }
#slider li { position: relative; }

.carouselContent {
	position: absolute;
	top: 0;
	right: 0;
}

.carouselHeader {
	display: block;
	margin-top: 50px;
	font-weight: bold;
	font-size: 26px;
	padding-right: 20px;
	color: #0055AD;
	padding-left: 575px;
	width: 330px;
	padding-bottom: 20px;
}

.carouselBody {
	display: block;
	font-size: 18px;
	font-style: normal;
	line-height: 200%;
	font-weight: bold;
	margin-left: 600px;
	margin-right: 50px;
}

.carouselBody div {
	text-align: right;
}

.carouselBackground {
	position: relative;
	top: 10px;
	left: 0px;
}

.slideContainer {
	border: 1px solid blue;
	margin: 0px;
	padding: 0px;
}
