﻿@import url("IA_default.min.css");
@media screen and (min-width: 769px) {
  .panel-home-hero .widget-text {
    height: 280px;
  }
  body.large .panel-home-hero .widget-text {
    height: 500px;
  }
}
/*# sourceMappingURL=IA_default_SP.css.map */