article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
pre,
section {
	display: block;
}

html {
	font-size: 16px;
	-webkit-text-size-adjust: 16px;
	-ms-text-size-adjust: 16px;
}
input::-moz-focus-inner {
	border: 0;
}

html, body {
	font-family: Helvetica, sans-serif;
	color: #202020;
	margin: 0;
	padding: 0;
	background: #ffffff;
}
h1, h2, h3 {
	color: #023864;
	font-family: 'Merriweather', Georgia, serif;
	font-weight: 700;
	margin-top: 0;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
h1 {
	font-size:1.5em;
	line-height:1.25em;
}
h2 {
	color: #005c9d;
	font-size: 1.25em;
	line-height: 1em;
}
h3 {
	font-size: 1.125em;
	line-height:1.5em;
}
h5 {
	margin: 0 0 1.0em 0;
	font-size: 1.063em;
}
p, ul, ol {
	color: #444;
}
ul {
	padding:0;
	margin: 1em 0 1em 30px;
}
pre {
	font-family: Courier New, Courier, monospace;
}

.content li {
	padding-top:6px;
	padding-bottom:6px;
}
.content ul>li>ul {
	margin-bottom: 0;
	margin-top: .5em;
}
.pull-left {
	display: inline-block;
	float: left;
}
.pull-right {
	display: inline-block;
	float: right;
}

/*  Links  */
a {
	color: #006BB7;
	text-decoration: underline;
}

a:active, a:hover {
	color:#023864;
}
img, a img {
	border: 0;
}

/*  Page Elements  */
.container {
	position: relative;
	width: 960px;
	height: auto;
	margin: 0 auto;
	background: #fff;
	-moz-box-shadow: rgba(0,0,0,0.35) 0px 5px 25px 1px;
	-webkit-box-shadow: rgba(0,0,0,0.35) 5px 25px 1px;
	box-shadow: rgba(0,0,0,0.35) 0px 5px 25px 1px;
	display: block;
}

/*  Header  */
header.page-head {
	position: relative;
	height: 156px;
	width: 960px;
	background-color: #e8f0f7;
	background-image: -moz-linear-gradient(top, #ffffff, #daeceb);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#daeceb));
	background-image: -webkit-linear-gradient(top, #ffffff, #daeceb);
	background-image: -o-linear-gradient(top, #ffffff, #daeceb);
	background-image: linear-gradient(to bottom, #ffffff, #daeceb);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffdaeceb', GradientType=0);
}
.brand {
	padding: 22px 0 0 21px;
	float:left;
}
.global {
	background: #fff;
	border-left: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	float: right;
	display: inline-block;
	height:28px;
	width: auto;
	padding:8px;
	position: relative;
	-webkit-border-radius:0 0 0 8px;
	-moz-border-radius:0 0 0 8px;
	border-radius:0 0 0 8px;
}
.global ul {
	margin:3px 10px 0 0;
	padding:0;
	display: inline-block;
	float: left;
	position: relative;
}
.global li {
	color:#999;
	display:inline;
	font-size:.875em;
}
.global li a {
	padding:0 10px 0 8px;
}
.language {
	display:inline-block;
	float:left;
	z-index:1;
}
.language select {
	padding: 2px;
	font-family:Arial, sans-serif;
	font-size:.875em;
	color:#333;
	width: 120px;
	height: auto;
	border: 1px solid #e0e0e0;
}
.resize {
	color: #464747;
	float: left;
	margin-left:10px;
	display: inline-block;
}
.resize p {
	vertical-align:middle;
	margin:0;
	display: inline;
}
.resize div {
	cursor:pointer;
	margin: 3px 3px 0 0;
	display:inline-block;
	vertical-align:middle;
}


/*  Search   */
.search {
	margin: 14px 20px 14px 0;
	float: right;
}
.search input[type="text"] {
	font-size:18px;
	color:#666;
	height: 30px;
	width: 205px;
	display:inline;
	padding:2px 4px;
	position:relative;
	background:#fff;
	border: 1px solid #e0e0e0;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.search input[type="submit"] {
	border:0;
	color:#fff;
	cursor:pointer;
	display: inline;
	font-size:1em;
	font-weight:bold;
	margin-left:-15px;
	width: 36px;
	height: 36px;
	position: relative;
	background-color: #0779ca;
	background-image: -moz-linear-gradient(top, #0779ca, #065aa4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0779ca), to(#065aa4));
	background-image: -webkit-linear-gradient(top, #0779ca, #065aa4);
	background-image: -o-linear-gradient(top, #0779ca, #065aa4);
	background-image: linear-gradient(to bottom, #0779ca, #065aa4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0779ca', endColorstr='#ff065aa4', GradientType=0);
	-webkit-border-radius:18px;
	-moz-border-radius:18px;
	border-radius:18px;
}

/*  Main Navigation  */
nav.primary {
	clear:both;
	color: #fff;
	font-family: 'Merriweather', serif;
	font-size: 16px;
	width:920px;
	height:46px;
	margin: 0 auto;
	overflow:hidden;
	background-color: #606060;
	background-image: -moz-linear-gradient(top, #777777, #454545);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#777777), to(#454545));
	background-image: -webkit-linear-gradient(top, #777777, #454545);
	background-image: -o-linear-gradient(top, #777777, #454545);
	background-image: linear-gradient(to bottom, #777777, #454545);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff777777', endColorstr='#ff454545', GradientType=0);
	-webkit-border-radius:6px 6px 0 0;
	-moz-border-radius:6px 6px 0 0;
	border-radius:6px 6px 0 0;
}
	nav.primary ul {
		font-size: 16px;
		margin:0;
		padding:0;
	}
	nav.primary li {
		border-right:1px solid #fff;
		display:inline-block;
		height:46px;
		line-height:46px;
		margin-left:-5px;
		text-align:center;
		*float: left;
	}
		nav.primary li:first-child {
			margin-left:0;
		}
		nav.primary li:last-child {
			margin-right:-5px;
			border-right:0;
		}
			nav.primary li a {
				color:#fff;
				font-size: 16px;
				padding: 12px;
				text-decoration:none;
			}
		nav.primary li:hover {
			background-color: #54a9e5;
			background-image: -moz-linear-gradient(top, #54a9e5, #5698d4);
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#54a9e5), to(#5698d4));
			background-image: -webkit-linear-gradient(top, #54a9e5, #5698d4);
			background-image: -o-linear-gradient(top, #54a9e5, #5698d4);
			background-image: linear-gradient(to bottom, #54a9e5, #5698d4);
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54a9e5', endColorstr='#ff5698d4', GradientType=0);
		}
		nav.primary li.selected, .primary li.selected:hover {
			background-color: #006bb6;
			background-image: -moz-linear-gradient(top, #006bb6, #00539f);
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#006bb6), to(#00539f));
			background-image: -webkit-linear-gradient(top, #006bb6, #00539f);
			background-image: -o-linear-gradient(top, #006bb6, #00539f);
			background-image: linear-gradient(to bottom, #006bb6, #00539f);
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff006bb6', endColorstr='#ff00539f', GradientType=0);
		}
		nav.primary li.home {
			width: 90px;
		}
		nav.primary li.members {
			width: 120px;
		}
		nav.primary li.potential, nav.primary li.health {
			width: 195px;
		}
		nav.primary li.about {
			width: 175px;
		}
		nav.primary li.providers {
			width: 140px;
		}

/*  Main Content  */
.mainContainer {
	clear: both;
	width: 920px;
	position: relative;
	margin: 0 auto;
}
.content {
	clear: both;
	width: 918px;
	margin: 0;
	padding-bottom: 60px;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	overflow:hidden;
}
.row {
	margin-left: 0;
}
.row:before,
.row:after {
	display: table;
	line-height: 0;
	content: "";
	clear: both;
}
[class*="span"] {
	float: left;
	min-height: 1px;
	margin-left: 20px;
}
.row+[class*="span"] {
	margin-left:0;
}
.span12 {
	width: 878px;
}
.span8 {
	width: 578px;
}
.span4 {
	width: 279px;
}
.span3 {
	width: 203px;
}
.side {
	float: right;
	min-height: 1px;
	margin-left: 20px;
	width: 279px;
}


/*  Home  */
.bgImage {
	float: right;
	height: auto;
}
.carousel {
	clear: both;
	height: 325px;
	width: 880px;
	position: relative;
	margin: 0px auto 0 auto;
	padding: 20px 0 0 0;
	border-bottom: 5px solid #4292cb;
	overflow:hidden;
}
.slide {
	height: 325px;
	width: 880px;
	position: relative;
}
.slideContent {
	margin: 30px 0 0 420px;
	width: 400px;
	position: relative;
	top: -300px;
	left: -10px;
}
.slideContent p {
	color:#333;
	font-size:1em;
	line-height:1.6em;
}
.slideButton, .btn {
	border:4px solid #fff;
	font-family: 'Merriweather', serif;
	font-weight:700;
	font-size: 1em;
	float:right;
	color: #fff;
	padding:8px 24px;
	text-decoration:none;
	text-transform:uppercase;
	background-color: #006bb6;
	background-image: -moz-linear-gradient(top, #006bb6, #00539f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#006bb6), to(#00539f));
	background-image: -webkit-linear-gradient(top, #006bb6, #00539f);
	background-image: -o-linear-gradient(top, #006bb6, #00539f);
	background-image: linear-gradient(to bottom, #006bb6, #00539f);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff006bb6', endColorstr='#ff00539f', GradientType=0);
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}
.btn {
	float:none;
}
.btn.btn-grey {
	border:1px solid #999;
	background-color: #999;
	background-image: -moz-linear-gradient(top, #bbbbbb, #696969);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bbbbbb), to(#696969));
	background-image: -webkit-linear-gradient(top, #bbbbbb, #696969);
	background-image: -o-linear-gradient(top, #bbbbbb, #696969);
	background-image: linear-gradient(to bottom, #bbbbbb, #696969);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbbbbbb', endColorstr='#ff696969', GradientType=0);
}
input.btn {
	cursor:pointer;
}
.slideButton:hover, .slideButton:active, .slideButton:visited, .btn:hover, .btn:active {
	color:#fff;
}
.homeButtons {
	border-bottom: 5px solid #4292cb;
	margin: 0 20px;
	padding-bottom: 6px;
	padding-top: 10px;
	text-align: center;
}
.homeFeatures {
	margin-top:20px;
}
.row .row.homeFeatures [class*="span"]:first-child { margin-left:20px; }
.homeFeatures h2 {
	margin:.5em 0;
}
.box h2, .box h3 {
	margin:.25em 0 .5em;
}
.box {
	border: 1px solid #e0e0e0;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	background-color: #fff;
	background-image: -moz-linear-gradient(top, #eef1f3, #ffffff);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eef1f3), to(#ffffff));
	background-image: -webkit-linear-gradient(top, #eef1f3, #ffffff);
	background-image: -o-linear-gradient(top, #eef1f3, #ffffff);
	background-image: linear-gradient(to bottom, #eef1f3, #ffffff);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeef1f3', endColorstr='#ffffffff', GradientType=0);
	padding:10px;
	margin-bottom:20px;
}
.box ul {
	margin-left:20px;
}

.hoursTable {
	margin: 0;
	border: none;
}

.hoursTable th, .hoursTable td {
	font-weight: normal;
	text-align: left;
	padding: 0px 3px;
}


/*  Footer  */
.miniFooter {
	clear: both;
	height: 36px;
	width: 920px;
	background:#e0e0e0;
	display:block;
}
.miniFooter div {
	float:left;
	color:#666;
	margin: 10px 0 0 20px;
	display:inline-block;
	font-size:.875em;
}
.miniFooter div:last-child {
	float:right;
}
.miniFooter div ul {
	margin:0;
}
.miniFooter div li {
	color:#666;
	display:inline;
}
.miniFooter div li a {
	padding:0 10px 0 8px;
}
.mainFooter {
	margin-top: 5px;
}
.mainFooter ul {
	margin:0 0 30px;
	width:180px;
}
.mainFooter li {
	font-family: 'Merriweather', serif;
	border-bottom:1px solid #e0e0e0;
	display:block;
	padding:5px 0;
}
.mainFooter a {
	color:#006bb7;
	font-size:.875em;
	text-decoration: none;
}
.mainFooter a:hover{
	color:#023864;
}


/*  Secondary Pages  */
#sideNav {
	margin:0 0 20px -20px;
	padding: 20px 15px;
	background-color: #f3f3f3;
}
#sideNav h3 {
	color:#222;
	font-size:1.5em;
	font-weight:400;
	margin-bottom: .5em;
}
#sideNav ul {
	list-style: none;
	line-height: 1.25em;
	font-family: 'Merriweather',serif;
	font-size: 1.125em;
	margin-left:0;
}
#sideNav li {
	border-bottom: 1px solid #d8d8d8;
	padding:10px 0;
}
#sideNav li:first-child {
	border-top: 1px solid #d8d8d8;
}
#sideNav li.selected a {
	color:#444;
}
#sideNav li a {
	text-decoration:none;
}
#sideNav li a.subhl {
	color: #006BB7;
}

#sideNav li a.subhl:hover {
	color: #023864;
}

#sideNav li a.selected {
	color:#444;
}

.box .quicklinks {
	list-style-type:none;
	margin-left:0;
}
.quicklinks li {
	background: url(../images/miniGreenArrow.png) no-repeat 98% 50%;
	border-bottom:1px solid #e0e0e0;
	padding:5px 0;
}
.quicklinks li:first-child {
	border-bottom:1px solid #e0e0e0;
}
.quicklinks li a {
	display:block;
	text-decoration:none;
	padding-right:10px;
}
.masthead {
	border-bottom: 5px solid #4292cb;
	display:block;
	margin:20px 0;
	height: auto;
	overflow: auto;
}
.img-intro {
	min-height:245px;
	position: absolute;
	height: auto;
}
.masthead p {
	font-size:1.125em;
	line-height:1.5em;
	margin-bottom:0;
	padding-bottom:20px;
}
.masthead p:empty {
	line-height: 0;
	padding-bottom: 0;
}
.masthead .img-intro h1, .masthead .img-intro p {
	width:300px;
}

.row .row [class*="span"]:first-child {
	margin-left:0;
}


.videoFeature {
	height:280px;
}
.videoFeature .video {
	float: left;
	height: 260px;
	width: 420px;
}
.videoFeature .description {
	float: left;
	margin: 40px 0 0 12px;
	width:143px;
}
.videoFeature .description p {
	font-size:.875em;
	color:#666;
	line-height:1.25em;
}
.videoThumbs {
	float:left;
	list-style-type:none;
	padding:0;
}
.videoThumbs li {
	clear:both;
	display:block;
	min-height:80px;
	padding-bottom:10px;
}
.videoThumbs li img {
	margin: 0 10px 0 0;
	float:left;
	width:117px;
}
.videoThumbs h4 {
	color:#333;
	font-size:1em;
	font-weight:normal;
	margin:0;
}
.videoThumbs p {
	color:#666;
	font-size:.875em;
	line-height:1.25;
	margin:0;
}


/*  Google Map  */
.mapKeyItem {
	float:left;
	margin: 0 0 20px 0;
	width:280px;
	height:34px;
	display:block;
	position:relative;
}

.mapKeyIcon {
	margin: 0 10px 0 0;
	float:left;
	width:34px;
	position:relative;
	display:inline-block;
}

.mapKeyTitle {
	line-height:2;
	font-size:16px;
	color:#666666;
}

.mapFrame {
	height: 428px;
	width: 576px;
	clear: both;
	border: 1px solid #e0e0e0;
	display: block;
	position: relative;
	top: 10px;
	margin-bottom:30px;
}

#map {
	width: 576px;
	height: 428px;
	border: 1px solid #999;
	margin: 0;
}

#map.big {
	width: 578px;
	height: 428px;
	border: 1px solid #999;
	margin: 20px 0;
}

#map.smallright {
	float: right;
	width: 325px;
	height: 325px;
	margin-left: 20px;
	margin-bottom: 1px;
	left: 0;
}

#mainCol h1:first-child {
	margin-top: 10px;
	font-size: 2.0em;
	margin-bottom: 0.3em;
	color: #02345e;
	font-weight: normal;
}


/*  Events  */
.eventDetail,
.itemDetail {}
	.eventDetail h2,
	.itemDetail h2 {
		margin-bottom: 1.0em;
	}
	.eventMap,
	.itemMap, .eventDetail #map, .itemDetail .itemMap #map {
		float: right;
		width: 325px;
		height: 325px;
		margin-left: 20px;
		margin-bottom: 1px;
		left: 0;
	}
	.eventInfo,
	.itemInfo {
		font-size: 1.2em;
	}
	.itemInfo h5 {
		margin-bottom: 0.5em;
		font-size: 1.1em;
		margin: 0 0 1.0em 0;
	}
		.eventInfo .info,
		.itemInfo .info {
			line-height: 1.5em;
			margin-bottom: 0.5em;
		}
			.eventInfo .info em,
			.itemInfo .info em {
				display: inline-block;
				width: 4.0em;
				color: #666;
				*display: inline;
				font-style: normal;
			}
			.itemInfo .info em { font-weight: normal; }
			.eventInfo .location,
			.itemInfo .location {
				margin-top: 2.0em;
				margin-bottom: 1.5em;
			}
			.itemInfo .services ul {
				margin: 0;
				padding: 0;list-style: none;
			}

.spinnerDisplay { width: 100% }
.spinnerEventsDisplay { margin: 25px 0; }
.spinnerImage { margin: auto; }
.spinnerImage { width: 16px; height: 16px; }

.providerSelect {
	color: rgb(34, 34, 34);
	cursor: pointer;
	font-family: sans-serif;
	font-size: 18px;
	height: 40px;
	left: 0px;
	opacity: 0;
	position: absolute;
	width: 280px;
}

.selector {
	position: relative;
	width: 280px;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	font-size: 1.2em;
	border: 1px solid #abadb3;
	background: #fff url(/duals/duals.website/assets/images/bg_selector.png) right top no-repeat;
	cursor: pointer;
}
	.selector:hover {
		background-color: #f2f2f2;
	}
	.selector span {
		float: left;
		width: 240px;
		height: 40px;
		padding: 0 30px 0 10px;
		overflow: hidden;
		cursor: pointer;
	}
	.selector select {
		position: absolute;
		top: 0;
		left: 0;
		height: 40px;
		width: 280px;
		border: none;
		cursor: pointer;
	}

.selector {
	background-color: rgb(255, 255, 255);
	background-image: url(/duals/duals.website/assets/images/bg_selector.png);
	background-position: 100% 0%;
	background-repeat: no-repeat;
	border-color: rgb(171, 173, 179);
	border-style: solid;
	border-width: 1px;
	color: rgb(51, 51, 51);
	cursor: pointer;
	font-family: sans-serif;
	font-size: 18px;
	height: 40px;
	position: relative;
	width: 280px;
}

.currentSelectSpan {
	color: rgb(51, 51, 51);
	cursor: pointer;
	display: block;
	float: left;
	font-family: sans-serif;
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 0 30px 0px 10px;
	width: 240px;
}


@media print
{
	.link {
		display: none !important;
	}
}

#grievForm ul {
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	margin:1em 0 0 20px;
	list-style-type:disc; }

#grievForm {
	padding: 10px;
	height:500px;
	overflow:scroll;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #444;
}

#grievForm p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #444;
}

#grievForm table {
	border: 1px solid #444;
	width: 95%;
	margin: 5px 10px 20px 0px;
	border-collapse: collapse;
	empty-cells: show;
	page-break-inside:avoid; page-break-after:auto;
}

#grievForm th {
	font-weight:bold;
	border: 1px solid #444;
	text-align: left;
	padding: 5px;
	height: 1px; _height: 1em;
}

#grievForm tr {
	page-break-inside:avoid;
	page-break-after:auto;
}

#grievForm td {
	border: 1px solid #444;
	text-align: left;
	padding: 5px;
	height: 1px;
	_height: 1em;
}

#grievForm .narrowTable {
	width: 75%;
}

#grievForm td.bottomBorder, #grievForm th.bottomBorder {
	border-bottom: 1px solid #444 !important;
}

#grievForm table.noBorder td, #grievForm table.noBorder th , #grievForm table.noBorder {
	border: 1px none #FFFFFF;
}


/*  Contact Us  */
.contactFix {
	overflow: hidden;
}

#contactPage {
	padding-top: 20px;
}

#contactPage .radioGroup input {
	width: 10px;
	padding: 0px;
	margin: 0px;
}

#contactPage .leftCol {
	width: 40%;
	float: left;
}

#contactPage .rightCol {
	width: 55%;
	float: right;
}

#contactPage .leftCol .contactInfo p {
	line-height: 1.6em;
}

#contactPage .innerLeft {
	float: left;
	width: 38%;
}

#contactPage .innerLeft input {
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: bold;
}

#contactPage .innerLeft .radio label {
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	padding: 5px;
	margin-right: 10px;
}

#contactPage .innerRight {
	float: right;
	width: 60%;
}

#contactPage .innerRight .btnGroup {
	float: right;
	padding-right: 10px;
}

#contactPage .innerRight .txt {
	width: 90%;
}

#contactPage .innerLeft .txt {
	width: 150px;
}

#contactPage .button {
	width: auto;
}


/*  Sub layouts and widgets  */
.subLayout { padding-top: 10px; }

.language-help {
	border-bottom:1px solid #e0e0e0;
}

.language-help a {
	text-decoration:none;
}

/* Forms */
.form {
	margin-bottom: 30px;
}
	.form .formField {
		float: left;
		margin: 10px 20px 0 0;
		padding-right: 20px;
		width: 300px;
	}
		.form .formField label, .form .formField .label {
			display: block;
			float: left;
			font-size: 1.2em;
			line-height: 40px;
			margin-right: 20px;
			text-align: right;
		}
		.form .formField .field {
			float: left;
			margin-bottom: 14px;
			width: 100%;
		}
		.form .long {
			width: 830px;
		}
		.form .short {
			width: 150px;
		}

	.form input[type="checkbox"] {
		margin-right: 10px;
	}
	.form input[type="text"], textarea {
		border: 1px solid #abadb3;
		color: #666;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1.2em;
		padding: 0 10px;
		vertical-align: middle;
		width: 100%;
	}
	.form input[type="text"] {
		height: 40px;
		line-height: 40px;
	}
	.form textarea {
		height: 140px;
		line-height: 24px;
	}
	.form select {
		border: 1px solid #abadb3;
		font-size: 1.3em;
		height: 40px;
		line-height: 40px;
		padding: 4px;
		vertical-align: middle;
	}
		.form select[multiple] {
			height: 160px;
		}
	

/*  Grievance Form */
#grievanceForm .formField label {
	text-align: left;
}
#grievanceForm .formField .grievanceLabel {
	line-height: 1.2em;
	margin-bottom: 10px;
}

#grievanceForm .formField .inline {
	margin-top: 0;
}

#grievanceForm .formField .inline label {
	display: inline;
	font-size: 1.1em;
	line-height: 1.2em;
	text-align: left;
	width: 780px;
}
#grievanceForm .formField .inline input[type="checkbox"] {
	float:left;
}

#grievanceForm .leftLabel {
	width: 400px;
	float: left;
	display: inline;
}

#grievanceForm .leftLabel label {
	float: left;
	width: 140px;
	text-align: left;
	display: inline;
}

#grievanceForm .leftLabel .field {
	float: right;
	display: inline;
	width: 50%;
}

#grievanceForm .leftLabel.smallField {
	width: 220px;
}

#grievanceForm .leftLabel.smallField label {
	width: 60px;
}

/* Material Request Form */
#materialForm .listGroup > label {
	display: inline;
}

#materialForm .listGroup .field {
	display: inline-block;
	float: left;
	width: auto;
}

#materialForm .listGroup ul {
	list-style-type: none;
	margin-top: 0;
}
	#materialForm .listGroup ul li {
		display:inline;
		float: left;
		padding-top: 0;
	}
	#materialForm .listGroup ul li label {
		color: #666;
		margin-left: 10px;
	}
	#materialForm .listGroup ul li input[type="checkbox"],
	#materialForm .listGroup ul li input[type="radio"] {
		float: left;
		margin-top: 10px;
	}


/*  Provider Search */
#searchForProviders .formField {
	width: 100%;
}
	#searchForProviders .formField:first-of-type {
		margin-top: -24px;
	}
	#searchForProviders .formField label {
		width: 190px;
	}
	#searchForProviders .formField .field {
		width: 340px;
	}

#searchForProviders input[type="text"] {
	width: 300px;
}

#searchForProviders select {
	width: 320px;
}


/* Results */
.resultsTable {
	text-align: left;
	width: 100%;
}

.resultsTable th {
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	font-family: sans-serif;
}

.resultsTable hr {
	clear: both;
	border: 0;
	background-color: #006bb7;
	height: 3px;
}

.resultsTable td {
	padding: 0 7px 12px 0;
	vertical-align: top;
}
.resultsTable td ul {
	margin: 0;
	padding-left: 20px;
}

.resultsTable td.addressSep {
	border-top: 1px solid #aaa;
	padding-top: 10px;
}


.providerContent .row { border-top: 1px solid #dedede; float: left; padding-bottom: 4px; padding-top: 8px; width: 100% }
.providerContent .row:first-of-type { border-top: none; margin-top: 0; padding-top: 0; }
.providerContent .item { float: left; }
.providerContent .left { width: 200px; font-weight: bold; }
.providerContent .right { width: 368px; margin-left: 10px; }
.providerContent .state { color:#006bb7; font-weight:bold; border-bottom:2px solid #006bb7; margin-bottom: 4px;}
.providerContent .county { color:#006bb7; font-style:italic; border-bottom:1px solid #aaa; margin: 8px 0 8px 10px;}
.providerContent .addresses { margin-left: 180px; }
.providerContent .address { margin-left: 20px; margin-bottom: 10px; width: 260px; }
.providerContent hr { clear: both; background-color: gray; height: 1px; }

.newSearch { float: right; margin-right: 10px; margin-bottom: 10px; }

.providerDetails .labelWithIcon {
	display: inline-block;
	float: left;
	width: 140px;
}
.providerDetails .labelIcon {
	display: inline-block;
	float: right;
	width: 50px;
}
.providerDetails .labelIcon img {
	margin-top: -13px;
	transform: scale(0.5, 0.5);
	-ms-transform: scale(0.5, 0.5);
	-webkit-transform: scale(0.5, 0.5);
}
.providerDetails .legend { margin-top: 24px; }
.providerDetails .legend table { border-collapse: collapse; }
.providerDetails .legend td { border: 1px solid #ccc; padding: 4px; vertical-align: top; }

.providerResults .rowHeader { margin-bottom: 20px; }

.transportation, .disclaimer { margin-top: 12px; }

.clear { clear: both; float: none; }

.filterControls { margin-bottom: 20px; }
.filterControls .selection { float: left; margin: 20px 0 0 0; }
.filterControls .selection p { float: left; line-height: 40px; margin-right: 13px; }
.filterControls .selection div { float: left; }
.filterControls .btnGrp { float: left; width: 100%; }
.filterControls .btnGrp a {  float: left; margin-left: 450px}
.filterControls .stateSelection .selector { width: 170px; }
.filterControls .countySelection {margin-left: 23px; }


/*  Icons  */
.icon {
	display: inline-block;
	padding-left: 30px;
	line-height: 21px;
}
	.icoArrow { background: url(/duals/duals.website/assets/images/g_arrow.png) left 0 no-repeat; }
	.icoArrowBack { background-image: url(/duals/duals.website/assets/images/g_arrow-back.png); }
	.promo .icoArrow { background-position: left -100px; }
	.icoArrow:hover { background-position: left -200px; text-decoration: none; }
	.promo .icoArrow:hover { background-position: left 0; }
	.ico1, .ico2, .ico3, .ico4 {
		display: inline-block;
		height: 40px;
		width: 40px;
		margin-right: 5px;
		vertical-align: middle;
		overflow: hidden;
		font-size: 0;
		line-height: 0;
	}
	.ico1 { background: url(/duals/duals.website/assets/images/ico_1.png) 0 0 no-repeat; }
	.ico2 { background: url(/duals/duals.website/assets/images/ico_2.png) 0 0 no-repeat; }
	.ico3 { background: url(/duals/duals.website/assets/images/ico_3.png) 0 0 no-repeat; }
	.ico4 { background: url(/duals/duals.website/assets/images/ico_4.png) 0 0 no-repeat; }

	.link {
		font-family: 'Merriweather', serif;
		text-decoration: none;
	}

	.links {
		margin: 0;
		padding: 0 !important;
		list-style: none !important;
	}
		.links li {
			margin-bottom: 0.5em;
		}

	.links.horz li {
		display: inline-block;
		border-left: 1px solid #ccc;
		padding: 0 15px;
		*display: inline;
	}
		.links.horz li:first-child {
			padding-left: 0;
			border-left: none;
		}

hr {
	clear: both;
	border: 0;
	background-color: #006bb7;
	height: 3px;
}

hr.light {
	border: 0;
	background-color: #ccc;
	height: 1px;
}

hr.thin {
	clear: none;
	background-color: #ccc;
	height: 1px;
	margin: 1.0em 0;
}


/*  Modal Popup  */
.modalPopup {
	padding: 3px;
	background-color: #ececec;
}
.modalPopupInner {
	background-color: #fff;
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}
.modalPopup .modalHeader {
	background-color: #ececec;
	color: #fff;
	padding: 10px;
}
.modalPopup .modalContent { padding: 5px 15px; }

.modalPopup .oneCol {
	margin-bottom: 20px;
}

.modalPopup .leftCol {
	float: left;
	margin-bottom: 20px;
	width: 212px;
	border-right: 1px solid #ccc;
}
.modalPopup .rightCol {
	float: left;
	margin-bottom: 20px;
	width: 217px;
	padding-left: 15px;
}
.modalPopup .buttons {
	clear: both;
	padding: 20px;
	text-align: center;
	border-top: 1px solid #ccc;
}
.modalPopup ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.modalPopup ul li {
	margin: 0.8em 0;
	padding: 0;
}
.modalPopup ul li input { margin-right: 5px; }
.modalSettings {
	font-size: 0.9em;
	text-align: center;
}
.modalSettings input { margin-right: 5px; }


.modalHeader {
	background-color: #eee;
	padding:10px 20px;
}
.modalHeader h3 {
	color:#222;
	font-family:Arial, Helvetica, sans-serif;
	font-size:21px;
	font-weight:bold;
	margin:0;
}
.modalContent ul li {
	font-size:18px;
	line-height:2em;
	list-style:none;
}
.modalSettings {
	padding:10px 20px;
	font-size:.9em;
	color:#666;
}
.modalButtons {
	text-align:center;
	margin-top:40px;
}
.modalButtons input:first-child {
	margin-right:40px;
}

.boxNoBack input[type="text"], #searchForProviders input[type="password"] {
	width: 258px;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	vertical-align: middle;
	font-size: 1.3em;
	border: 1px solid #abadb3;
}

.accessible {
	display:none;
}
.accessible:focus {
	display:block;
}

/*  Accordion  */
.accordion {
  margin-bottom: 20px;
}

.accordion-group {
	margin-bottom:10px;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.accordion-heading {
	border-bottom: 0;
}

.accordion-heading h3 {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.accordion-heading a {
	text-decoration: none;
}

.accordion-heading .accordion-toggle {
	display: block;
	padding: 8px 15px;
}

.accordion-toggle {
	cursor: pointer;
}

.accordion-inner {
	padding: 9px 15px;
	border-top: 1px solid #e5e5e5;
}

 .accordion-inner .quicklinks {
	list-style-type: none;
}

.collapse {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition: height 0.35s ease;
	-moz-transition: height 0.35s ease;
	-o-transition: height 0.35s ease;
	transition: height 0.35s ease;
}

.collapse.in {
	height: auto;
}

.error {
	color: Red;
}

.execItem img {
	box-shadow: 0 0 8px 0 rgba(0, 103, 177, 0.5);
	border-radius: 8px;
	float:left;
	margin-bottom: 20px;
	margin-right: 20px;
}
.execItem h3 {
	margin-bottom: 5px;
}
.execItem h4 {
	margin-top: 0;
}

.networkProviders {
	border-collapse: collapse;
	width: 100%
}
.networkProviders td {
	border: 1px solid #e5e5e5;
	padding: 4px;
}
.video {
	margin: 20px 20px;
}
