﻿<%@ Control Language="C#" AutoEventWireup="false" CodeBehind="MaterialsWidget.ascx.cs" Inherits="Website.Sublayouts.Widgets.MaterialsWidget" %>
<asp:Literal ID="litMaterial" runat="server" />
<asp:PlaceHolder ID="phError" runat="server" Visible="false"></asp:PlaceHolder>
