﻿@import url("OH_default.min.css");
@media screen and (min-width: 769px) {
  .panel-home-hero .widget-text {
    height: 680px;
  }
  body.large .panel-home-hero .widget-text {
    height: 1320px;
  }
}
/*# sourceMappingURL=OH_default_SP.css.map */