﻿.banner {
  background-image: url("/images/bg-container-mainOH.jpg");
}
.banner-home {
  background-image: url("/images/home_BannerOH.jpg");
}
div.col-xs-12:nth-of-type(3) div.panel-home-hero .panel-default {
  box-shadow: 1px 1px 1px 1px rgba(166, 110, 29, 0.875);
}
div.col-xs-12:nth-of-type(3) div.panel-home-hero .panel-heading {
  background: #a66e1d;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #a66e1d), color-stop(50%, rgba(166, 110, 29, 0.875)), color-stop(100%, rgba(166, 110, 29, 0.75)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a66e1d 1%, rgba(166, 110, 29, 0.875) 50%, rgba(166, 110, 29, 0.75) 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-linear-gradient(top, #a66e1d 1%, #a66e1d 50%, rgba(166, 110, 29, 0.75) 100%);
  background: linear-gradient(to bottom, #a66e1d 1%, #a66e1d 50%, rgba(166, 110, 29, 0.75) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@colorlt', endColorstr='@colorrt', GradientType=0);
  /* IE6-9 */
  color: #ffffff;
}
div.col-xs-12:nth-of-type(4) div.panel-home-hero .panel-default {
  box-shadow: 1px 1px 1px 1px rgba(0, 141, 193, 0.875);
}
div.col-xs-12:nth-of-type(4) div.panel-home-hero .panel-heading {
  background: #008dc1;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #008dc1), color-stop(50%, rgba(0, 141, 193, 0.875)), color-stop(100%, rgba(0, 141, 193, 0.75)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #008dc1 1%, rgba(0, 141, 193, 0.875) 50%, rgba(0, 141, 193, 0.75) 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-linear-gradient(top, #008dc1 1%, #008dc1 50%, rgba(0, 141, 193, 0.75) 100%);
  background: linear-gradient(to bottom, #008dc1 1%, #008dc1 50%, rgba(0, 141, 193, 0.75) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@colorlt', endColorstr='@colorrt', GradientType=0);
  /* IE6-9 */
  color: #ffffff;
}
@media screen and (min-width: 769px) {
  .panel-home-hero .widget-text {
    height: 620px;
  }
  body.large .panel-home-hero .widget-text {
    height: 1200px;
  }
}
/*# sourceMappingURL=OH_default.css.map */