﻿/* HTML elements */
html {
  position: relative;
  min-height: 100%;
}
body {
  color: #333333;
  margin-bottom: 274px;
}
form {
  margin: 0;
  padding: 0 0 50px 0;
}
h1 {
  color: #062466;
}
h2 {
  color: #010c24;
}
h3 {
  color: #6e6e6e;
}
h1,
h2,
h3,
h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  word-spacing: 4px;
}
a[href^="tel"] {
  color: inherit;
}
hr {
  border-top-color: #dfd7e8;
}
ul > li {
  line-height: 1.8;
}
td {
  padding: 4px;
  vertical-align: top;
}
/* Top Navigation */
#topBar {
  background-color: #6e6e6e;
}
#topBar a,
#topBar span {
  color: #ffffff;
}
#topBarNav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#topBarNav > ul > li {
  border-left: 1px solid #ffffff;
  float: left;
  padding: 4px 10px;
}
#topBarNav > ul > li:first-child {
  border: none;
}
#hdrState,
#hdrLanguage {
  font-size: 1.125em;
  line-height: 1.0;
  padding-top: 4px;
}
#hdrState a,
#hdrLanguage a {
  color: #ffffd2;
  text-decoration: underline;
}
#hdrState a:hover,
#hdrLanguage a:hover {
  color: #ffffff;
}
.nav-top-right {
  color: #ffffff;
  margin-top: 4px;
}
/* Header */
.logo {
  margin-top: 24px;
}
.search {
  padding-right: 0;
  margin-top: 4px;
}
@media screen and (max-width: 768px) {
  .logo,
  .search {
    margin: 4px auto;
  }
}
/* Main Navigation */
#navBarMain.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.navbar {
  margin-bottom: 0;
}
.navbar .navbar-text {
  color: #ffffff;
}
.navbar-default {
  background-attachment: scroll;
  background-color: #062466;
  padding: 0;
}
/* Full size screen make the menu full width and */
@media screen and (min-width: 992px) {
  .navbar-default .navbar-nav {
    margin: 0;
    display: table;
    width: 100%;
  }
  .navbar-default .navbar-nav > li {
    display: table-cell;
    float: none;
    white-space: nowrap;
  }
}
.navbar-default .navbar-nav > li > a {
  border-right: 1px solid #ffffff;
  color: #ffffff;
  text-align: center;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  background-color: #0048db;
  color: #ffffff;
  -moz-transition: background linear 0.3s;
  -o-transition: background linear 0.3s;
  -webkit-transition: background linear 0.3s;
  transition: background linear 0.3s;
}
.navbar-default .navbar-nav > li:first-child > a {
  border-left: 1px solid #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #dfd7e8;
  background: #062466;
  /* Old browsers */
  background: -moz-linear-gradient(top, #062466 1%, #0048db 50%, #0048db 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #062466), color-stop(50%, #0048db), color-stop(100%, #0048db));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #062466 1%, #0048db 50%, #0048db 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #062466 1%, #062466 50%, #0048db 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #062466 1%, #062466 50%, #0048db 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #062466 1%, #062466 50%, #0048db 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@colorlt', endColorstr='@colorrt', GradientType=0);
  /* IE6-9 */
}
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus {
  background-color: #0048db;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .nav > li > a {
  font-size: 16px;
  font-weight: bold;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .navbar-default .navbar-nav > li > a {
    border-bottom: 1px solid #ffffff;
    border-right: none;
  }
  .navbar-default .navbar-nav > li:first-child > a {
    border-left: none;
  }
}
/* Side Nav*/
#sideNav {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  #sideNav {
    margin-top: 20px;
  }
}
.nav-stacked {
  border: 1px solid #dfd7e8;
  border-radius: 8px;
}
.nav-stacked > li {
  border-bottom: 1px solid #dfd7e8;
  line-height: 1.42857143;
}
.nav-stacked > li:last-child {
  border-bottom: none;
}
.nav-stacked > li + li {
  margin-top: 0;
}
.nav-stacked > li > a,
.nav-stacked > li > span {
  padding: 5px;
}
.nav-stacked > li.nav-stacked-hdr {
  background-color: #062466;
  border-bottom: solid 1px #ffffff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.nav-stacked > li.nav-stacked-hdr > a,
.nav-stacked > li.nav-stacked-hdr > span {
  color: #ffffff;
}
.nav-stacked > li.nav-stacked-hdr > a:hover {
  background-color: #062466;
  color: #dfd7e8;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.nav-stacked > li.nav-stacked-hdr > span {
  display: block;
  padding: 10px 15px;
}
.nav-stacked > li.active {
  background-color: #0048db;
  color: #ffffff;
}
.nav-stacked > li.active > span {
  display: block;
}
.nav-stacked > li.active > a {
  color: #ffffff;
}
.nav-stacked > li.active > a:hover {
  background-color: #062466;
  color: #dfd7e8;
}
.nav-stacked > li.active > ul {
  background-color: #dfd7e8;
  border-bottom: 1px solid #6e6e6e;
  list-style: none;
  padding: 0;
}
.nav-stacked > li.active > ul > li {
  border-bottom: 1px solid #6e6e6e;
  line-height: 1.42857143;
  padding: 5px;
}
.nav-stacked > li.active > ul > li:last-of-type {
  border-bottom: none;
}
.nav-stacked > li.active > ul > li.active {
  background-color: #b9bed6;
  color: #333333;
}
.nav-stacked > li.active > ul > li.active a {
  color: #ffffff;
}
#sideNavBroker .nav-stacked > li.nav-stacked-hdr,
#sideNavBroker .nav-stacked > li.nav-stacked-hdr a:hover {
  background-color: #66d5ff;
}
/* Side Callouts */
.callout-lt-side .panel {
  box-shadow: 1px 1px 1px 1px #b9bed6;
}
.callout-lt-side .panel-body {
  padding-bottom: 0;
}
.callout-lt-side h3 {
  color: #000000;
  font-size: 14pt;
  font-weight: 400;
  margin: 0;
}
/* Form items */
/* Fix for checkbox / radio labels due to ASP.NET control rendering */
.radio-inline input[type=radio] {
  margin-left: -20px;
}
.radio-inline label {
  min-height: 20px;
  margin-bottom: 0;
  padding-right: 20px;
  margin-right: 20px;
  font-weight: normal;
  cursor: pointer;
}
ul.radio-inline {
  list-style-type: none;
}
.radio span.no-margin-left input[type=radio] {
  margin-left: 0;
}
span.radio-inline.no-padding-top {
  padding-top: 0;
}
.form-horizontal .text-danger {
  color: #f0140a;
}
.checkbox-inline label {
  font-weight: normal;
}
label.control-text,
label div.control-text,
div.control-text {
  font-weight: normal;
  padding-top: 7px;
  text-align: left;
}
.underline {
  text-decoration: underline;
}
.form-horizontal .validation {
  padding-top: 7px;
}
.g-recaptcha {
  margin-left: 0;
}
.readonly {
  background-color: #eeeeee;
  cursor: not-allowed;
  opacity: 1;
}
/* Sticky Footer */
footer {
  background-color: #dfd7e8;
  border-top: solid 1px #6e6e6e;
  bottom: 0;
  height: 274px;
  position: absolute;
  width: 100%;
}
footer ul {
  list-style-type: none;
}
footer .nav > li > a {
  padding-bottom: 2px;
  padding-top: 2px;
}
footer #pnlNonDiscrimination,
footer #pnlDisclaimer,
footer #cmsApproval,
footer #lastUpdated,
footer #social {
  border-top: solid 1px #6e6e6e;
  padding-bottom: 4px;
  padding-top: 4px;
}
@media screen and (max-width: 768px) {
  footer {
    height: auto;
    position: relative;
  }
}
/* Custom spacing */
.no-margin hr {
  margin-bottom: 0;
  margin-top: 0;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.no-padding-bottom {
  padding-bottom: 0;
}
.no-margin-top {
  margin-top: 0;
}
.no-padding-top {
  padding-top: 0;
}
.bottom-spacer {
  margin-bottom: 12px;
}
.top-spacer {
  margin-top: 12px;
}
.top-spacer-double {
  margin-top: 24px;
}
.item-spacer {
  padding: 6px;
}
img.margin-right {
  margin-right: 5px;
}
.indent {
  margin-left: 24px;
}
.indent-double {
  margin-left: 36px;
}
.custom-form-control {
  padding: 6px 12px;
}
/* Large font */
body.large {
  font-size: 2em;
}
body.large #topBarNav > ul > li > a {
  font-size: 1em;
}
/* Custom styles for specific media sizes */
@media screen and (max-width: 768px) {
  .text-xs-left {
    text-align: left;
  }
  .text-xs-right {
    text-align: right;
  }
  .text-xs-center {
    text-align: center;
  }
  .row-margin-top {
    margin-top: 6px;
  }
  .row-margin-bottom {
    margin-bottom: 6px;
  }
}
/* Panel customization */
.panel-image {
  padding-left: 0;
  margin-left: 0;
}
.panel-landing {
  font-size: 1.1em;
}
.panel-landing .panel-heading {
  font-weight: bold;
}
.panel-landing .panel-image {
  margin-right: 10px;
}
.panel-landing .panel-image img {
  border-bottom-left-radius: 4px;
}
.panel-callout .panel-image img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.panel-margin {
  padding: 10px 10px 0 10px;
}
.hero {
  box-shadow: rgba(0, 103, 177, 0.5) 2px 2px;
}
.panel-hero {
  box-shadow: 0 0 8px 0 rgba(0, 103, 177, 0.5);
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  zoom: 1;
}
.panel-hero .panel-hero-image {
  padding-left: 0;
  z-index: -1;
}
.panel-sub-hero {
  box-shadow: 0 0 8px 0 rgba(0, 103, 177, 0.5);
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
}
.panel-sub-hero .col-md-6 div {
  padding-left: 0;
  padding-right: 0;
}
.panel-sub-hero .sub-hero-left {
  background-color: #66d5ff;
  border-right: solid 1px rgba(0, 103, 177, 0.5);
}
.panel-sub-hero .sub-hero-right {
  background-color: #dfd7e8;
}
.panel-hero-title h3 {
  color: #333333;
}
.panel-hero-body h2 {
  color: #062466;
}
.panel-hero-title,
.panel-hero-body {
  padding: 4px 4px 12px 4px;
}
.panel-callout h3 {
  margin-top: 0;
}
/* Home Page Specific */
.banner {
  background-attachment: scroll;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../images/bg-container-main.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  height: 192px;
}
.banner-home {
  background-attachment: scroll;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../images/home_Banner.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  height: 344px;
}
.banner-home h1 {
  font-size: 28px;
}
div.col-xs-12:nth-of-type(1) div.panel-home-hero .panel-default {
  box-shadow: 1px 1px 1px 1px #0048db;
}
div.col-xs-12:nth-of-type(1) div.panel-home-hero .panel-heading {
  background-color: #0048db;
}
div.col-xs-12:nth-of-type(2) div.panel-home-hero .panel-default {
  box-shadow: 1px 1px 1px 1px #062466;
}
div.col-xs-12:nth-of-type(2) div.panel-home-hero .panel-heading {
  background-color: #062466;
}
div.col-xs-12:nth-of-type(3) div.panel-home-hero .panel-default {
  box-shadow: 1px 1px 1px 1px #9d7eff;
}
div.col-xs-12:nth-of-type(3) div.panel-home-hero .panel-heading {
  background-color: #9d7eff;
}
.panel-home-hero .panel-default {
  box-shadow: 1px 1px 1px 1px rgba(103, 103, 103, 0.5);
}
.panel-home-hero .panel-heading h3 {
  color: #ffffff;
  margin: 0;
  text-align: center;
}
.panel-home-hero .widget-image {
  height: 100%;
  width: 100%;
}
.panel-home-hero .widget-image object {
  object-fit: fill;
}
.panel-home-hero .widget-row {
  margin-right: 5px;
}
.panel-home-hero .widget-row:last-of-type {
  margin-right: 0;
}
.panel-home-hero .widget-content {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 5px;
}
.panel-home-callback .panel {
  box-shadow: 1px 1px 1px 1px #0048db;
}
.panel-home-callback h3 {
  color: #000000;
  font-weight: 400;
}
.panel-home-callback h4 {
  font-weight: 800;
  text-align: center;
}
.panel-home-callback h4 a {
  color: #ffffff;
  text-decoration: underline;
}
.panel-home-hero .panel-video .embed-responsive-4by3 {
  height: 194px;
  margin-bottom: 2px;
  padding-bottom: 0;
}
.form-search .glyphicon-search {
  font-size: 16px;
  width: auto;
}
.home-note {
  color: #6e6e6e;
  font-size: 16px;
  margin-top: 16px;
}
@media screen and (max-width: 768px) {
  .banner,
  .banner-home {
    background: none;
    height: auto;
  }
  .search {
    border-top: solid 1px #dfd7e8;
    border-bottom: solid 1px #dfd7e8;
    padding-bottom: 12px;
    padding-top: 12px;
  }
}
/* Enroll Page Specific */
.panel-enroll h3 {
  margin: 0;
}
.enrollByMail {
  background-color: #66d5ff;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 7px 0;
  border-radius: 8px;
  text-align: center;
}
.enrollByMail a {
  color: #ffffff;
  font-size: 1.15em;
}
/* Plan Page Specific */
.planStep {
  margin-top: 20px;
}
.planStep h3 {
  color: #0048db;
  margin-top: 0;
}
.planStep .icon {
  background-color: #0048db;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
  margin-right: 20px;
  padding: 0 20px;
}
.planLinks ul {
  padding-left: 20px;
}
/* Other Page Specific */
.appPage h3 {
  margin-top: 0;
}
#mapCanvas {
  border: 1px solid #b9bed6;
}
#callbackModal .close,
#infoReqModal .close {
  color: #ffffff;
  text-shadow: 0 1px 0 #cccccc;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
#callbackModal .close:hover,
#callbackModal .close:focus,
#infoReqModal .close:hover,
#infoReqModal .close:focus {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.faqQuestion {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 24px;
}
.faqQuestion:first-of-type {
  margin-top: 12px;
}
.faqAnswer {
  margin-left: 20px;
}
.execPic {
  box-shadow: 0 0 8px 0 rgba(0, 103, 177, 0.5);
  border-radius: 8px;
}
h3.execName,
h4.execTitle {
  margin-top: 0;
}
#providerAddress .state {
  clear: both;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin-bottom: 9px;
}
#providerAddress .county {
  clear: both;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}
#providerAddress .address {
  margin-top: 9px;
}
/*# sourceMappingURL=style.css.map */