﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Search.ascx.cs" Inherits="Duals.Website.Layouts.Sublayouts.Search" %>
<%@ Register TagPrefix="ces" Namespace="Coveo.CES.Web.Search.Controls" Assembly="Coveo.CES.Web.Search, Version=6.0.0.0, Culture=neutral, PublicKeyToken=44110d16825221f2" %>
<%@ Assembly Name="Coveo.CNL, Version=6.0.0.0, Culture=neutral, PublicKeyToken=44110d16825221f2" %>
<%@ Assembly Name="Coveo.CNL.Web, Version=6.0.0.0, Culture=neutral, PublicKeyToken=44110d16825221f2" %>

<div id="coveo-search-interface" style="clear:both;width:880px;">
	<!-- Begin SubLayouts/SearchAdvancedPage -->
	<ces:SearchInterface ID="SearchInterface12" Name="Duals" runat="server" />
	<!-- End SubLayouts/SearchAdvancedPage -->
</div>