﻿@charset "UTF-8";

body
{
	margin-left: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
}

.anythingSlider li
{
}

.contactleft
{
	display: block;
	float: left;
	width: 50px;
}

.contactright
{
	display: block;
	clear: right;
	float: left;
}

.sizeleft
{
	display: block;
	width: 20px;
	float: left;
}

.sizeright
{
	display: block;
	clear: right;
	float: left;
}

.proxLabel
{
	padding-top: 20px;
}

.mainContainner
{
	min-height: 100%;
	position: relative;
}

.mainBody
{
	padding: 10px;
	padding-bottom: 50px;
}

a:hover
{
	text-decoration: none;
}


.calendarWidget
{
}

.calendarWidget table
{
	padding: 5px;
}

.calendarWidget td
{
	text-align: right;
}

.dayStyle
{
	font-size: 14px;
	border-collapse: collapse;
	border: 1px solid #D6E7F7;
	text-align: right;
	padding-right: 5px;
	padding-bottom: 15px;
}

.calSelDay
{
	font-size: 14px;
	border-collapse: collapse;
	border: 1px solid #D6E7F7;
	text-align: right;
	padding-right: 5px;
	padding-bottom: 15px;
}

.calSelDay td
{
	background-color: #D6E7F7;
}

.calendarWidget th
{
	font-weight: normal;
	border: 1px solid #D6E7F7;
	padding-top: 10px;
	padding-bottom: 10px;
}

.calTitle table
{
	padding: 0;
	margin: 0;
	border: 0;
}

.calTitle td
{
	padding-top: 3px;
	padding-bottom: 3px;
	margin: 0;
	border: 0;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.calNextPrev
{
	font-size: 20px;
	padding: 0;
	margin: 0;
	border: 0;
}

.smalllink
{
	float: right;
	padding-right: 12px;
	font-size: 12px;
	padding-top: 10px;
}

hr
{
	color: #9CC7E7;
	background-color: #9CC7E7;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 1px;
	border: 0;
}

.right
{
	font-size: 12px;
	float: right;
	padding-top: 10px;
}

.sort
{
	margin-top: 10px;
}

li
{
	font-family: Helvetica, Arial;
	font-size: 14px;
	line-height: 20px;
	color: #666666;
}

.pagebottom
{
	float: right;
	padding-top: 10px;
}

.coltitle
{
	padding-bottom: 2px;
}

.padbox
{
	padding-right: 10px;
	padding-bottom: 10px;
}

.clicked-marker
{
	border: 2px solid red;
}

.info
{
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
}

.top-blue
{
	height: 9px;
	background-color: #e9f2f9;
}
.container
{
	width: 940px;
	margin-right: auto;
	margin-left: auto;
}
.logo
{
	float: left;
}

#nav
{
	background: url(../Images/bg_nav.png) top repeat-x;
	margin-top: 12px;
	padding: 0 9px 0 9px;
}

#nav ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav ul li
{
	float: left;
	height: 34px;
}

#nav ul li:first-child
{
	border-left: 1px solid #9accfe;
	margin-left: 0;
}

#nav ul li a:visited, #nav ul li a
{
	border-right: 1px solid #9accfe;
	border-collapse: collapse;
	display: block;
	height: 34px;
	line-height: 34px;
	text-align: center;
	background: url(../Images/bg_nav_ct.png) top repeat-x;
	background-position: 0 0;
	font-size: 1.2em;
	color: #3992de;
	text-decoration: none;
}

#nav ul li a:hover
{
	background-position: 0 -34px;
	color: #0066cc;
}

#nav ul li.active a
{
	background-position: 0 -34px;
	color: #003399;
}


#top
{
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	margin-bottom: 10px;
}

#top .topLeft
{
	float: left;
}
#top .topRight
{
	float: right;
	margin-right: 10px;
}

#top .topRight ul
{
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;
}

#top .topRight li
{
	float: left;
	margin-right: 4px;
}

#top .topRight li.spacer
{
	padding: 0 4px;
}

#top .topRight li a, #top .topRight li a:visited
{
	color: #666;
	font-size: 1.1em;
}

#top .topRight li a:hover
{
	color: #000;
}

a:link
{
	color: #3a89c9;
	text-decoration: none;
}

a:visited
{
	text-decoration: none;
	color: #3a89c9;
}

a:hover
{
	color: #000000;
}

.left-nav
{
	width: 180px;
	float: left;
	background-color: #F7F7FF;
	font-family: Helvetica, Arial;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #000000;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}


.nav-pic
{
	float: left;
}
.left-nav
{
	text-align: left;
}
.left-nav ul
{
	list-style-type: none;
	margin: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}
.left-nav li
{
	margin: 0;
	padding: 0;
}
.left-nav .sub
{
	padding-left: 10px;
	font-size: 13px;
}

.left-nav li a:link
{
	color: #3a89c9;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

.left-nav li a:visited
{
	text-decoration: none;
	color: #3a89c9;
	margin: 0;
	padding: 0;
}

.left-nav li a:hover
{
	color: #000000;
	margin: 0;
	padding: 0;
}
.left-nav img
{
	padding-top: 5px;
	padding-bottom: 5px;
}
.left-nav li a img
{
	padding: 0 4px 0 0;
	vertical-align: text-bottom;
}
.copy
{
	float: right;
	width: 700px;
	font-family: Helvetica, Arial;
	color: #666666;
}
.noSideMenu
{
	padding-right: 10px;
	padding-left: 10px;
	font-family: Helvetica, Arial;
	color: #666666;
}
.noSideMenu #MiddleContentFrame
{
	padding-right: 40px;
	padding-left: 40px;
}

.big-blue
{
	font-family: Palatino, "Times New Roman";
	font-size: 18px;
	font-style: oblique;
	font-weight: bold;
	color: #0057ac;
	padding-top: 10px;
	padding-bottom: 5px;
}

.v2
{
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.v1
{
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
}

.title
{
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 10px;
	background-image: url(../Images/cmg_title.png);
	margin-bottom: 20px;
}
.title h1
{
	font-family: Helvetica, Arial;
	font-size: 20px;
	color: #0057ac;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.hero
{
	height: 200px;
	width: 700px;
	background-repeat: no-repeat;
	padding-top: 50px;
}
.hero-copy
{
	padding: 15px;
	width: 260px;
	margin-left: 384px;
	font-family: Palatino, Times New Roman;
	font-size: 18px;
	font-style: oblique;
	font-weight: bold;
	line-height: 24px;
	color: #0057ac;
	background-image: url(../images/white-bg.png);
}
.message, .message p, .message li
{
	font-family: Helvetica, Arial;
	font-size: 16px;
	line-height: 24px;
	text-align: justify;
	color: #333;
}

p
{
	font-family: Helvetica, Arial;
	font-size: 14px;
	line-height: 20px;
	color: #333;
}


.footer
{
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9cc4e4;
	font-family: Helvetica, Arial;
	text-align: center;
	font-size: 12px;
	color: #666666;
	padding-bottom: 20px;
	height: 30px;
	bottom: 0;
}

.footer a:link
{
	color: #3a89c9;
	text-decoration: none;
}

.footer a:visited
{
	text-decoration: none;
	color: #3a89c9;
}

.footer a:hover
{
	color: #000000;
}
.nav-title
{
	font-size: 18px;
	font-weight: normal;
	color: #666666;
}

.locations
{
	float: left;
	border: 1px solid #eaf2f9;
	margin-top: 20px;
}
.locations h2
{
	font-size: 16px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}
.locations img
{
	margin-right: 20px;
}
.map
{
	margin-top: 20px;
	float: right;
	width: 330px;
	border: 1px solid #999;
}

#map
{
	height: 428px;
}

.bullets ul
{
	padding: 0;
	border: 0;
	margin: 0;
}

.bullets li
{
	margin-left: 30px;
	padding-left: 0;
	margin-top: 5px;
	padding-top: 3px;
	margin-bottom: 5px;
}

.bluedot
{
	background-image: url(../images/blue.png);
	width: 20px;
	height: 34px;
}

.greendot
{
	background-image: url(../images/yellow.png);
	width: 20px;
	height: 34px;
}

.pinkdot
{
	background-image: url(../images/red.png);
	width: 20px;
	height: 34px;
}


.indot
{
	float: left;
	margin-top: 4px;
	font-size: 10px;
	width: 20px;
	text-align: center;
	color: white;
	font-weight: bold;
	text-shadow: 2px 2px #000000;
}


.map .blue-dot
{
	list-style-image: url(../images/blue.png);
	font-size: 12px;
}

.map .green-dot
{
	list-style-image: url(../images/yellow.png);
	font-size: 12px;
}

.map .pink-dot
{
	list-style-image: url(../images/red.png);
	font-size: 12px;
}

.phys-table
{
	margin-bottom: 20px;
}
.phys-table table
{
	border: 1px solid #d1e4f3;
}
.phys-table .hdr
{
	background-image: url(../images/header-bg.jpg);
	font-weight: bold;
	color: #0057ac;
}
.phys-table .alt
{
	background-color: #e7eff7;
}
.phys-table .left-cell
{
	padding: 7px 15px;
}
.phys-table td
{
	vertical-align: top;
}
.phys-table .border
{
	border-left: solid 1px #d1e4f3;
}
.phys-table .addHeight
{
	line-height: 20px;
}
.blue
{
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: bold;
	color: #0057ac;
}
.physician
{
	float: left;
	margin-top: 10px;
	margin-right: 20px;
}
.dr
{
	text-align: left;
	margin: 0;
	padding-top: 14px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}

.physblock
{
	font-size: 13px;
	padding-top: 14px;
}

.physblock2
{
	font-size: 13px;
	padding-top: 12px;
}

.test-photo
{
	float: left;
	margin-right: 30px;
	font-style: oblique;
	width: 181px;
}
.test-container
{
	padding-top: 20px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #9cc4e4;
	border-bottom-color: #9cc4e4;
}
.test-copy
{
	float: right;
	width: 480px;
}
.test-copy p
{
	margin-top: 0;
	margin-bottom: 15px;
}
.dropdown
{
	width: 150px;
	margin: 0;
	font-family: Helvetica, Arial;
	font-size: 17px;
	font-weight: bold;
	background-color: #FFFFFF;
	border: 1px solid #cccccc;
	color: #666666;
	padding-top: 2px;
	padding-bottom: 2px;
}

.padtop
{
	padding-top: 50px;
}

.lgButton
{
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 13px;
	cursor: pointer;
}


#searchBox .searchInput
{
	border: solid 1px #999;
	color: #666;
	width: 186px;
	height: 27px;
	background-color: transparent;
	font-size: 1.1em;
	line-height: 22px;
	padding: 4px 4px 0 4px;
}
#searchBox .button
{
	background: url(/CMGI/Images/btn_small_button.png) top repeat-x;
	border: none;
	color: #fff;
	cursor: pointer;
	font-family: Helvetica, Arial;
	font-size: 1.1em;
	height: 39px;
	width: 80px;
	text-decoration: none;
	display: inline-block;
}
#searchBox .button:hover
{
	background-position: 1px -40px;
	color: #339;
}

.search
{
	font-family: Helvetica, Arial;
	font-size: 17px;
	font-weight: bold;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	color: #666666;
	width: 144px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.zip {
	font-family: Helvetica, Arial;
	font-size: 17px;
	font-weight: bold;
	color: #666666;
	width: 90px;
	border: 1px solid #CCCCCC;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
}

.contact-field
{
	font-family: Helvetica, Arial;
	font-size: 18px;
	color: #666666;
	width: 348px;
	border: 1px solid #CCCCCC;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 2px;
	margin-bottom: 15px;
	margin-top: 2px;
}

.form-message
{
	font-family: Helvetica, Arial;
	font-size: 18px;
	color: #666666;
	width: 348px;
	border: 1px solid #CCCCCC;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 2px;
	margin-bottom: 10px;
}


.sort-nav
{
	font-size: 14px;
}
.black
{
	color: #000;
}
.light-gray
{
	color: #999;
}

h4
{
	color: #0057ac;
	font-size: 18px;
	font-weight: normal;
}
.link
{
	float: right;
	padding-top: 10px;
}
.clear_both
{
	clear: both;
}
.fill-out
{
	width: 400px;
	float: right;
	font-family: Helvetica, Arial;
	font-size: 14px;
	color: #666666;
	margin-right: 20px;
}
.fill-out h3
{
	font-family: Helvetica, Arial;
	font-size: 18px;
	font-weight: normal;
	color: #0057ac;
	padding: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
}
.submit-button
{
	float: right;
	margin-top: 5px;
}
.contact-left
{
	width: 462px;
	float: left;
	font-family: Helvetica, arial;
	font-size: 14px;
	line-height: 20px;
	color: #666666;
	margin-left: 25px;
}

.office
{
	float: left;
	width: 240px;
	font-size: 16px;
	line-height: 24px;
}
.hours
{
	float: right;
	width: 220px;
}
.contact-left h3
{
	font-size: 18px;
	font-weight: normal;
	color: #0057ac;
	margin: 0;
	padding: 0;
}
.scfValidationSummary
{
	margin-bottom: 15px;
}
.scfValidationSummary ul li
{
	color: #ff0000;
}
.scfValidator
{
	margin-top: -5px;
	padding-bottom: 15px;
}
.news
{
	height: 233px;
	width: 668px;
	border: 1px solid #d1e4f3;
	padding-right: 15px;
	padding-left: 15px;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-top: 15px;
}
.current-events
{
	width: 360px;
	float: left;
}
.calendar
{
	width: 300px;
	float: right;
	border: 1px solid #d1e4f3;
	background-color: #f4f8fc;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}
.date
{
	float: left;
	width: 90px;
}
.event-description
{
	float: right;
	width: 260px;
}
.three-row
{
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	font-family: Helvetica, Arial;
	font-size: 14px;
	line-height: 20px;
	color: #666666;
}
.three-row h2
{
	font-family: Helvetica, Arial;
	font-size: 18px;
	color: #0057ac;
	padding: 0;
	margin-top: 12px;
	margin-right: 0;
	margin-bottom: 12px;
	margin-left: 0;
}
.hero-home
{
	background-image: url(../images/hero-bg.jpg);
	background-repeat: no-repeat;
	height: 346px;
	width: 940px;
	margin-bottom: 20px;
	font-family: Palatino, "Times New Roman";
	font-size: 16px;
	line-height: 24px;
	color: #666666;
}
.hero-imagery
{
	float: left;
	width: 584px;
	z-index: -1000;
}

.home-hero-copy
{
	float: left;
	width: 310px;
	margin-top: 40px;
	text-align: left;
	z-index: -1000;
}
.left-arrow
{
	z-index: 1000;
	margin-top: 120px;
	position: absolute;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: left;
}
.bubbles
{
	position: absolute;
	z-index: 1000;
	margin-left: 860px;
	margin-top: 320px;
}
.bubbles img
{
	margin-right: 2px;
	margin-left: 2px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.bubbles .bubble-button
{
	background-image: url(../images/bubble-on.png);
	background-repeat: no-repeat;
	background-position: left top;
}

a:hover .bubbles .bubble-button
{
	background-image: url(../images/bubble-off.png);
}

.left-arrow img
{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.right-arrow
{
	z-index: 1000;
	margin-top: 120px;
	position: absolute;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-left: 910px;
}
.right-arrow img
{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.home-hero-copy h1
{
	font-size: 24px;
	font-style: oblique;
	font-weight: bold;
	line-height: 30px;
	margin-top: 0;
	color: #0057ac;
}
.home-hero-copy p
{
	font-family: Palatino, Times New Roman;
	font-size: 16px;
	line-height: 24px;
	color: #666666;
	text-align: left;
}
.three-row .three-left
{
	float: left;
	width: 300px;
	margin-right: 10px;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #3a89c9;
}
.three-row .three-center
{
	float: left;
	width: 300px;
	margin-left: 10px;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #3a89c9;
	margin-right: 10px;
}
.three-row .three-right
{
	float: left;
	width: 300px;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #3a89c9;
	margin-left: 10px;
}
img
{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.testlink a
{
	font-weight: normal;
}

.nolink a
{
	font-weight: normal;
	color: #636563;
}

.nolink a:hover
{
	color: #636563;
	text-decoration: none;
}

.bio
{
	width: 658px;
}
.bio h4
{
	margin-top: 6px;
	margin-bottom: 6px;
}

.cmgiField input[type="text"]
{
	width: 300px;
}

.cmgiField textArea
{
	width: 400px;
}

.scfForm
{
	margin-top: 20px;
}

.scfRequired
{
	color: Firebrick;
}
.scfDatePickerLabel, .scfDropListLabel, .scfRadioButtonListLabel, .scfMultipleLineTextLabel, .scfSingleLineTextLabel
{
	font-weight: bold;
}

.scfForm input[type="text"], .scfForm select, .scfForm textarea, .scfForm input[type="radio"]
{
	font-family: Helvetica, Arial;
	font-size: 16px;
	color: #666666;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 2px;
	margin-bottom: 15px;
	margin-top: 2px;
}

.scfForm input[type="text"], .scfForm select, .scfForm textarea
{
	border: 1px solid #CCCCCC;
}

.scfRadioButtonListGeneralPanel
{
	margin-top: 6px;
	margin-bottom: 20px;
}

.scfDropListBorder, .scfMultipleLineTextBorder, .scfSingleLineTextBorder, .scfDatePickerBorder, .scfDateBorder, .scfRadioButtonListBorder
{
	margin-bottom: 5px;
}

.scfRadioButtonListBorder label
{
	padding-right: 12px;
}


.eventTabOff
{
	background-color: #dedede;
	color: #000;
	display: inline;
	float: left;
	margin-right: 10px;
	padding: 4px 10px;
}

.eventTabOff, .eventTabOff:hover
{
	cursor: pointer;
}

.eventTabOn, .eventTabOff:hover
{
	background-color: #0057ac;
	color: #fff;
	display: inline;
	float: left;
	margin-right: 10px;
	padding: 4px 10px;
}

/* below added with Meet the Doctors page */
.feature
{
	overflow: auto;
	min-height: 380px;
}
.feature .video
{
	float: left;
	margin-left: 10px;
}
.feature .video-content
{
	float: right;
	margin-right: 10px;
}
.feature .video-content h2
{
	font-family: arial, helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #0257aa;
}
.feature .video-content p
{
	margin: 20px 50px 20px 0;
}

/* carousel styles */
.carousel-list
{
	border-bottom: 3px solid #ddd;
	border-top: 3px solid #ddd;
	padding-bottom: 20px;
	padding-top: 20px;
}
.carousel-list li div
{
	padding: 5px 20px 5px 0;
}
.carousel-list li img
{
	margin-right: 10px;
}
.carousel-list li img, .carousel-list li a
{
	vertical-align: middle;
}

/* anything-slider */
.anythingSlider-default.activeSlider .anythingWindow
{
	border: 0;
}
.carousel-list .audio
{
	height: 360px;
}
.carousel-list .doctor
{
	height: 280px;
}
.slider-wrap .anythingSlider-default .arrow
{
	top: 40%;
}
.slider-wrap .anythingSlider-default .arrow a
{
	display: block;
	width: 20px;
	height: 31px;
	margin: -11px 0 0 0;
	text-align: center;
	outline: 0;
	background: url(/cmgi/images/slider-arrows.png) no-repeat;
}
/* back arrow */
.slider-wrap .anythingSlider-default .back
{
	left: 0;
}
.slider-wrap .anythingSlider-default .back a
{
	background-position: 0 0;
}
.slider-wrap .anythingSlider-default .back a:hover, .slider-wrap .anythingSlider-default .back a.hover
{
	background-position: 0 -34px;
}
/* forward arrow */
.slider-wrap .anythingSlider-default .forward
{
	right: 0;
}
.slider-wrap .anythingSlider-default .forward a
{
	background-position: -20px 0;
}
.slider-wrap .anythingSlider-default .forward a:hover, .slider-wrap .anythingSlider-default .forward a.hover
{
	background-position: -20px -34px;
}

.address p
{
	text-align: left;
}
