﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="Website.sitecore_modules.Site" %>

<!doctype html>
<html>
<head id="headPage" runat="server">
	<title id="pageTitle" runat="server">CareMore Application</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="/css/responsive/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/apps.min.css" rel="stylesheet" type="text/css" />
	<script src="/js/jquery.min.js" type="text/javascript"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>
<body>

<form id="formMain" runat="server">
	<div class="container">
		<div id="headerImg" class="row">
			<div class="col-xs-12">
				<img src="/images/bg_logo.png" alt="CareMore" />
			</div>
		</div>
		<div id="headerDiv" class="row">
			<div class="col-xs-12">
				<asp:ContentPlaceHolder ID="contentPlaceHolderHeader" runat="server" />
			</div>
		</div>

		<div class="row">
			<div id="admin" class="col-xs-12">
				<asp:ContentPlaceHolder ID="contentPlaceHolderRoot" runat="server" />
			</div>
		</div>
	</div>
</form>

</body>
</html>
